﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section Scripts
{
    <script type='text/javascript'>
        $("#frame").height($(document).height() - 122);
    </script>
}
<iframe id="frame" src="https://burocreative.tapclicks.com/client/analytics/dist/#/login" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px;min-height:868px;"></iframe>