﻿@model LeadsMVC.Models.UserCampaignsIndustries

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@{
    ViewBag.Title = "Profile";
}

@section Scripts
{
    @Scripts.Render("~/Assets/js/jquery-ui-1.10.3.min.js")
    @Scripts.Render("~/Assets/js/filterControls.js")
    <script type='text/javascript'>
        // Main functions
        $(function () {
            // Init filters stuff
            initFilterControls();
        });
    </script>
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/bootstrap-horizon.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/profile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css" />
}

@*@Html.Partial("_FilterControlsPartial")*@

<div class="row">
    <div class="col-md-12">
        <div class="col-sm-8 col-sx-8 col-md-8">
            <div class="row row-horizon">
                @{
                    string col = "col-sm-6";
                    if (Model.Campaigns.Count() <= 1) { col = "col-sm-6"; }
                    //if (Model.Campaigns.Count() <= 1) { col = "col-sm-12"; }
                }

                @foreach (var item in Model.Campaigns)
                {
                    <div class="@col col-scrollable">
                        <div class="campaign-description">
                            <div class="campaign-first">@Html.DisplayFor(modelItem => item.Name)</div>
                            <div class="campaign-second">@Html.DisplayFor(modelItem => item.Description)</div>
                        </div>
                        <div class="panel panel-warning dashboard">
                            <div class="panel-heading padding13">
                                <div class="panel-title campaign-block-title">KPIS</div>
                            </div>
                            <div class="panel-body campaign-panel-content">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12">
                                        <p>
                                            @{ string impressions = (item.Impressions / 1000).ToString(); } 
                                            <span class="campaign-block-number">@Html.DisplayFor(modelItem => impressions)k</span>
                                            <span class="campaign-block-text">Impressions</span>
                                        </p>
                                        <p>
                                            <span class="campaign-block-number">@Html.DisplayFor(modelItem => item.LeadsCount)</span>
                                            <span class="campaign-block-text">Leads</span>
                                        </p>
                                        <p>
                                            @{ string clicks = (item.Clicks / 1000).ToString(); }
                                            <span class="campaign-block-number">@Html.DisplayFor(modelItem => clicks)k</span>
                                            <span class="campaign-block-text">Clicks</span>
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <span class="campaign-block-number">@Html.DisplayFor(modelItem => item.Engagement)%</span>
                                            <span class="campaign-block-text">Engagement</span>
                                        </p>
                                        <p>
                                            <span class="campaign-block-number">@Html.DisplayFor(modelItem => item.Community)</span>
                                            <span class="campaign-block-text">Community</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info dashboard">
                            <div class="panel-heading padding13">
                                <div class="panel-title campaign-block-title">Budget</div>
                            </div>
                            <div class="panel-body campaign-panel-content">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <p>
                                            <span class="campaign-block-text">Admin</span>
                                            <span class="campaign-block-number">$@Html.DisplayFor(modelItem => item.AdminBudget)</span>
                                            <span class="campaign-block-sub-number">mxn</span>
                                        </p>
                                        <p>
                                            <span class="campaign-block-text">Media</span>
                                            <span class="campaign-block-number">$@Html.DisplayFor(modelItem => item.MediaBudget)</span>
                                            <span class="campaign-block-sub-number">mxn</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-primary dashboard">
                            <div class="panel-heading padding13">
                                <div class="panel-title campaign-block-title">Contacts</div>
                            </div>
                            <div class="panel-body campaign-panel-content">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <p>
                                            <span class="campaign-block-text">Sales REP.</span>
                                            <span class="campaign-block-number">@Html.DisplayFor(modelItem => item.SalesRep)</span>
                                        </p>
                                        <p>
                                            <span class="campaign-block-text">Account MGMT.</span>
                                            <span class="campaign-block-number">@Html.DisplayFor(modelItem => item.AccountMgmt)</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-danger dashboard">
                            <div class="panel-heading padding13">
                                <div class="panel-title campaign-block-title">Documentation</div>
                            </div>
                            <div class="panel-body campaign-panel-content">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <p>
                                            <span class="documentation-block-text">Contract</span>
                                            <a href="@Html.DisplayFor(modelItem => item.ContractUrl)"><img class="pull-right" src="~/Assets/images/documentation.png" /></a>
                                        </p>
                                        <p>
                                            <span class="documentation-block-text">WMM Configuration</span>
                                            <a href="@Html.DisplayFor(modelItem => item.ConfigurationUrl)"><img class="pull-right" src="~/Assets/images/documentation.png" /></a>
                                        </p>
                                        <p>
                                            <span class="documentation-block-text">Statment</span>
                                            <a href="@Html.DisplayFor(modelItem => item.StatmentUrl)"><img class="pull-right" src="~/Assets/images/documentation.png" /></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-4 col-sx-4 col-md-4">
            <div class="col-sm-12">
                <div class="panel panel-success dashboard">
                    <div class="panel-body" style="min-height:824px">
                        <div class="row profile-block">
                            <div class="profile-title">My Profile</div>
                            <div class="profile-section">
                                <div class="profile-section-title">Industries</div>
                                <div class="profile-section-line">
                                    <p>
                                        <span class="documentation-block-text">My business sector </span>
                                        <span class="profile-section-big">@Html.DisplayFor(modelItem => modelItem.User.IndustrySector)</span>
                                    </p>
                                </div>
                                <div class="profile-section-line">
                                    <p>
                                        <span class="documentation-block-text">My interests </span>
                                        @foreach (var item in Model.Industries)
                                        {
                                            <span class="interest">@item</span>
                                        }
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>