﻿@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/leads-admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/codemirror/codemirror.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/codemirror/theme/ambiance.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.datatables.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />

    <style>
        div.tagsinput span.tag {
            margin-top: 5px !important;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("/Assets/js/jquery.tagsinput.min.js")
    @Scripts.Render("/Assets/js/mustache.min.js")
    @Scripts.Render("/Assets/js/jquery.datatables.min.js")
    @Scripts.Render("/Assets/js/jquery.gritter.min.js")
    @Scripts.Render("/Assets/js/jquery-confirm.min.js")
    @Scripts.Render("/Assets/js/select2.min.js")
    <script>
        // Main function
        $(function () {
            initIndustries();
            initUserIndustries();
            initUsers();
        });

        $('#tags').tagsInput({ width: 'auto', height: 'inherit', allowClear: true });
        $("#industry-relation-select").select2({
            width: '100%'
        });

        $("#submit-new-industry").live('click', function () {
            var industries = $('#tags').val();

            $.post("/Dashboard/MakeIndustries", { industries: industries }, function (data) {
                gritterSuccess("Industrias añadidas");
                cleanIndustriesTags();
                cleanSelect2();
                initIndustries();
                initUserIndustries();
            })
            .fail(function (request, status, error) {
                gritterError("Error al crear industrias", error);
            });
        });

        $("#submit-user-industry-relation").live('click', function () {
            var industries = $('#industry-relation-select').val();
            var user = $("#users-relation-select").val();

            $.post("/Dashboard/MakeRelation", { userId: user, industries: industries }, function (data) {
                gritterSuccess("Relacion añadida!");
                cleanIndustriesTags();
                cleanSelect2();
                initIndustries();
                initUserIndustries();
            })
            .fail(function (request, status, error) {
                gritterError("Error al crear relaciones", error);
            });
        });

        function cleanIndustriesTags() {
            $("#tags_tagsinput > span").remove();
            $("#tags").val('');
        }

        function cleanSelect2() {
            $(".select2-selection__choice").remove();
            $("#industry-relation-select").val('');
        }

        // Relation user-industry delete
        $(".delete-user").live('click', function (event) {
            event.preventDefault();
            deleteUserIndustry($(this).closest('tr').data("userIndustry"));
        });

        // Campaigns table delete
        $(".delete-industry").live('click', function (event) {
            event.preventDefault();
            deleteIndustry($(this).closest('tr').data("industry"));
        });

        // Campaigns table edit
        $(".edit-industry").live('click', function (event) {
            event.preventDefault();
            editIndustry($(this).closest('tr').data("industry"));
        });

        function editIndustry(dataIndustry) {
            var html = '<div id="new-campaign-group" class="form-group">' +
             '<label class="control-label">Nombre</label>' +
             '<input type="text" id="edit-industry-name" class="form-control" placeholder="Nombre de la industria..." value="' + $.trim(dataIndustry.name) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Description</label>' +
             '<input type="text" id="edit-industry-description" class="form-control" placeholder="Descripcion de la industria..." value="' + $.trim(dataIndustry.description) + '">' +
             '</div>';

            $.confirm({
                title: 'Editar industria',
                content: html,
                animation: 'scale',
                backgroundDismiss: true,
                confirmButtonClass: 'btn-success',
                confirmButton: 'Aplicar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    var campaign = {
                        id: dataIndustry.id,
                        name: $("#edit-industry-name").val(),
                        description: $("#edit-industry-description").val()
                    };
                    var json = JSON.stringify(campaign);

                    $.ajax({
                        url: '/Dashboard/EditIndustry/' + dataIndustry.id,
                        contentType: "application/json; charset=utf-8",
                        type: 'PUT',
                        data: json,
                        success: function (data) {
                            gritterSuccess("Industria editada!");
                            initIndustries();
                            initUserIndustries();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                }
            });
        }

        function deleteIndustry(dataIndustry) {
            $.confirm({
                title: 'Industria: ' + dataIndustry.name,
                content: '¿Estas seguro de eliminar esta industria?',
                confirmButtonClass: 'btn-danger',
                backgroundDismiss: true,
                confirmButton: 'Eliminar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    $.ajax({
                        url: '/Dashboard/DeleteIndustry/' + dataIndustry.id,
                        type: 'DELETE',
                        success: function (data) {
                            gritterSuccess("Industria eliminada!", 'Nombre: ' + data.campaignName);
                            initIndustries();
                            initUserIndustries();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                }
            });
        }

        function deleteUserIndustry(dataUserIndustry) {
            $.confirm({
                title: 'Eliminar',
                content: '¿Estas seguro de eliminar esta relacion?',
                confirmButtonClass: 'btn-danger',
                backgroundDismiss: true,
                confirmButton: 'Eliminar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    $.ajax({
                        url: '/Dashboard/DeleteUserIndustry?userId=' + dataUserIndustry.userId + '&industryId=' + dataUserIndustry.industryId,
                        type: 'DELETE',
                        success: function (data) {
                            gritterSuccess("Relacion eliminada!");
                            initIndustries();
                            initUserIndustries();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                }
            });
        }

        function initIndustries() {
            $.get("/Dashboard/GetIndustries", function (industries) {
                generateIndustriesTable(industries);
                fillSelectIndustriesRelation(industries);
            });
        }

        function initUserIndustries() {
            $.get("/Dashboard/GetUsersIndustries", function (userIndustries) {
                generateUserIndustriesTable(userIndustries);
            });
        }

        function initUsers() {
            $.get("/api/users/", function (usersArray) {
                fillUsersWhereNeeded(usersArray);
            });
        }

        function fillUsersWhereNeeded(usersArray) {
            $('#users-relation-select').empty();
            $.each(usersArray, function (i, item) {
                $('#users-relation-select').append($('<option>', {
                    value: item.id,
                    text: item.userName + " - " + item.userFullName
                }));
            });
        }

        function fillSelectIndustriesRelation(industries) {
            $('#industry-relation-select').empty();
            $.each(industries, function (i, item) {
                $('#industry-relation-select').append($('<option>', {
                    value: item.id,
                    text: item.name
                }));
            });
        }

        function generateIndustriesTable(industries) {
            var tempTable = $('#industries-admin-table').DataTable();
            var info = tempTable.page.info();

            // Erease table
            $("#table-wrapper").empty();

            // Open table
            var tableInit = '<table id="industries-admin-table" class="table mb30 admin-table">'
            var tableHead = '<thead><tr><th>ID</th><th>Nombre</th><th>Descripcion</th><th></th></tr></thead>';
            var tbodyInit = '<tbody>';
            var table = tableInit + tableHead + tbodyInit;

            $.each(industries, function (i, item) {
                var skeleton = "<tr> <td>{{id}}</td> <td><strong>{{name}}</strong></td> <td>{{description}}</td> <td class='table-action'> <a href='#'><i class='fa fa-pencil edit-industry'></i></a> <a href='#' class='delete-industry'><i class='fa fa-trash-o'></i></a> </td> </tr>"
                var html = Mustache.render(skeleton, item);
                table = table + html;
            });

            // Close table
            table = table + '</tbody>';
            table = table + '</table>';

            // Append html
            $("#table-wrapper").append(table);

            // Set data objects to each tr
            $('#industries-admin-table > tbody  > tr').each(function (i, item) {
                $(this).data("industry", industries[i]);
            });

            // Init datatable
            var datatable = $('#industries-admin-table').DataTable({
                "iDisplayLength": 5,
                'displayStart': info.start,
                responsive: true,
                "bLengthChange": false
            });

            datatable.columns().iterator('column', function (ctx, idx) {
                $(datatable.column(idx).header()).append('<span class="sort-icon"/>');
            });
        }

        function generateUserIndustriesTable(userIndustries) {
            var tempTable = $('#users-admin-table').DataTable();
            var info = tempTable.page.info();

            // Erease table
            $("#table-users-wrapper").empty();

            // Open table
            var tableInit = '<table id="users-admin-table" class="table mb30 admin-table">'
            var tableHead = '<thead><tr> <th class="hidden"></th> <th class="hidden"></th> <th>Nombre</th><th>Descripcion</th><th></th></tr></thead>';
            var tbodyInit = '<tbody>';
            var table = tableInit + tableHead + tbodyInit;

            $.each(userIndustries, function (i, item) {
                var skeleton = "<tr> <td class='hidden'>{{userId}}</td> <td class='hidden'>{{industryId}}</td> <td><strong>{{userFullName}}</strong> - {{userName}}</td> <td><strong>{{industryName}}</strong></td> <td class='table-action'> <a href='#' class='delete-user'><i class='fa fa-trash-o'></i></a> </td> </tr>"
                var html = Mustache.render(skeleton, item);
                table = table + html;
            });

            // Close table
            table = table + '</tbody>';
            table = table + '</table>';

            // Append html
            $("#table-users-wrapper").append(table);

            // Set data objects to each tr
            $('#users-admin-table > tbody  > tr').each(function (i, item) {
                $(this).data("userIndustry", userIndustries[i]);
            });

            // Init datatable
            var datatable = $('#users-admin-table').DataTable({
                responsive: true,
                'displayStart': info.start
            });

            datatable.columns().iterator('column', function (ctx, idx) {
                $(datatable.column(idx).header()).append('<span class="sort-icon"/>');
            });
        }

        function gritterSuccess(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-success',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }

        function gritterError(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-danger',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }
    </script>
}
<div class="panel panel-success">
    <div class="panel-heading minimizable">
        <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Registro de industrias</h3>
        <p>Administracion de industrias</p>
    </div>
    <div class="panel-body" style="display: block;">
        <h5 class="subtitle mb5">Creacion de industrias</h5>
        <p class="m20">Escribe el nombre de la industria y presiona enter. Puedes agregar muchas al mismo tiempo</p>

        <div class="form-group">
            <input name="tags" id="tags" class="form-control" value="" />
        </div>
        <div class="form-group">
            <button id="submit-new-industry" class="pull-right btn btn-success">Submit</button>
        </div>

        <h5 class="subtitle mb5">Todas las industrias</h5>
        <p class="m20">Administracion (edicion).</p>
        <div id="table-wrapper" class="table-responsive">
            <table id="industries-admin-table" class="table mb30">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading minimizable">
        <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Asignacion de usuarios-industrias</h3>
        <p>Edicion</p>
    </div>
    <div class="panel-body" style="display: block;">
        <h5 class="subtitle mb5">Asignacion de relacion usuario-industria</h5>
        <p class="m20">Altas.</p>
        <div class="form-group">
            <label class="control-label">Usuario que se relacionara</label>
            <select class="form-control" id="users-relation-select"></select>
        </div>

        <div class="form-group">
            <label class="control-label">Industrias que se relacionaran</label>
            <select multiple class="form-control" id="industry-relation-select"></select>
        </div>

        <div class="form-group">
            <button id="submit-user-industry-relation" class="pull-right btn btn-success">Submit</button>
        </div>

        <h5 class="subtitle mb5">Tabla de relaciones usuario-industria</h5>
        <p class="m20">Bajas.</p>
        <div id="table-users-wrapper" class="table-responsive">
            <table id="users-admin-table" class="table mb30">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Usuario</th>
                        <th>Industria</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

