﻿@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@{
    ViewBag.Title = "Dashboard";
}

@section Scripts
{
    @Scripts.Render("~/Assets/js/jquery-ui-1.10.3.min.js")
    @Scripts.Render("~/Assets/js/filterControls.js")
    @Scripts.Render("~/bundles/what-dashboard-needs")
    
    <script type='text/javascript'>
        // Main functions
        $(function () {
            // Init filters stuff
            initFilterControls();
        });

        // Delegates
        $(document).on("campaignsLoaded", function (e) {
            // If no campaigns
            if (e.campaigns.length == 0 && getSelectedSegmentation() != "POOL_LEADS") {
                // Show pool leads first instead if no campaings
                $("#segmented-leads :last").click()
                return;
            }

            // Set default seleted
            $("#campaigns-select").val(e.campaigns[0].id);

            // Initial set
            requestStats();

            // Set on change listenter
            $('#campaigns-select').on('change', function () {
                if (!(getSelectedSegmentation() == "@LeadsMVC.Utils.Constants.Segmentation.Pool"))
                    requestStats(1);
            });
        });

        $(document).on("segmentationChanged", function (segmentation) {
            requestStats();
        });

        $(document).on("datesChanged", function (dates) {
            requestStats();
        });

        function requestStats() {
            $.get("../api/dashboardapi?campaign=" + getSelectedCampaignId() +
                "&date1=" + getDates()[0] +
                "&date2=" + getDates()[1] +
                "&segmentation=" + getSelectedSegmentation(),

                function (statsObject) {
                    // leadsObject contains the leads array and pagination
                    setDashboardStats(statsObject);
                });
        }

        function setDashboardStats(stats) {
            setChartData(stats);
            setNewLeads(stats);
            setNumberStats(stats);
        }

        function setChartData(stats) {
            leadsChart.data.datasets[0].data = stats.leadsData;
            leadsChart.data.labels = stats.leadsDataLabels;
            leadsChart.update();

            $('#lead-count').animateNumber({ number: stats.leadsCount });
        }

        function setNewLeads(stats) {
            // Clean items
            $("#new-leads").empty();

            $.each(stats.newLeads, function (index, lead) {
                // Parse some variables
                var leadDate = new Date(lead.leadDate);
                var monthDay = monthNames[leadDate.getMonth()] + " " + leadDate.getDate();
                var hourMinutes = leadDate.toHHMM();

                // Lead element view skeleton template
                var skeleton = [
                    "<li class='lead-item' data-lead-id='{{id}}'>",
                    "   <div class='row margin-top-neg-5'>",
                    "       <div class='col-md-8 col-sm-10'>",
                    "           <div class='clearfix content-heading center-items-vertically'>",
                    "               <img class='pull-left eye-icon {{^pooled}}hide-with-space{{/pooled}}' />",
                    "               <h4 class='name'>{{name}}</h4>",
                    "           </div>",
                    "           <div class='clearfix content-heading center-items-vertically'>",
                    "               <img class='pull-left phone-icon {{^called}}hide-with-space{{/called}}' />",
                    "               <small class='email'>{{email}}</small>",
                    "           </div>",
                    "       </div>",
                    "       <div class='col-md-4 col-sm-2'>",
                    "           <div class='pull-right'>",
                    "               <div class='clearfix content-heading center-items-vertically'>",
                    "                   <h4 class='score'>{{#toFixed}}{{leadScore}}{{/toFixed}}</h4>",
                    "              </div>",
                    "               <div class='clearfix content-heading center-items-vertically'>",
                    "                   <small class='datetime'> " + hourMinutes + " / " + monthDay + "</small>",
                    "               </div>",
                    "          </div>",
                    "       </div>",
                    "   </div>",
                    "</li>"
                ].join("\n");

                // Add to fixed function
                lead.toFixed = function () {
                    return function (num, render) {
                        return parseFloat(render(num)).toFixed(2);
                    }
                };

                // Map skeleton to lead object
                var html = Mustache.render(skeleton, lead);
                $("#new-leads").append(html);

                // Store object on itself
                //$("#new-leads li").eq(index).data("definition", lead);
            })
        }

        function setNumberStats(stats) {
            var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',')
            $('#sales-opportunity').animateNumber({
                number: (stats.salesOpportunity),
                numberStep: comma_separator_number_step
            });
            $('#average-lead-cost').animateNumber({
                number: (stats.averageLeadCost == Number.POSITIVE_INFINITY || stats.averageLeadCost == Number.NEGATIVE_INFINITY ? 0 : stats.averageLeadCost),
                numberStep: comma_separator_number_step

                //numberStep: function (now, tween) {
                //    var floored_number = Math.floor(now),
                //        target = $(tween.elem);

                //    if (tween.end >= 1000)
                //        target.text(floored_number + 'k');
                //    else
                //        target.text(tween.end.toFixed(2) + 'k');
                //}
            });
            $('#average-lead-score').animateNumber({ number: stats.averageLeadScore, numberStep: comma_separator_number_step });
            $('#first-aproach-call-done').animateNumber({ number: stats.firstAproachCallDone, numberStep: comma_separator_number_step });

            $('#total-calls').animateNumber({ number: stats.totalCalls, numberStep: comma_separator_number_step });
            $('#total-calls-progress').css('width', stats.totalCalls + '%');

            $('#upsell-potential').animateNumber({ number: stats.upsellPotential, numberStep: comma_separator_number_step });
            $('#industry-alert').animateNumber({ number: stats.industryAlert, numberStep: comma_separator_number_step });
            $('#destination-authority').animateNumber({ number: stats.destinationAuthority, numberStep: comma_separator_number_step });
            $('#all-star').animateNumber({ number: stats.allStar, numberStep: comma_separator_number_step });

            $('#high-urgency').animateNumber({ number: stats.highUrgency, numberStep: comma_separator_number_step });
            $('#hot-leads').animateNumber({ number: stats.hotLeads, numberStep: comma_separator_number_step });
        }
    </script>
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/dashboard.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/bootstrap-timepicker.min.css")" rel="stylesheet" type="text/css" />
}

@Html.Partial("_MainPanelsPartial")
@Html.Partial("_FilterControlsPartial")

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-info panel-stat">
            <div class="panel-heading" style="min-height:310px; max-height:310px; position: relative;">
                <div class="lead-count-title">Leads</div>
                <span id="lead-count">0</span>
                <div class="center" style="width:90%; max-width:100%; height:auto; position: absolute; bottom: 0; margin:0px auto;">
                    <canvas id="chart-dashboard-leads" style="margin-bottom:10px"></canvas>
                </div>
            </div><!-- panel-heading -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default panel-alt widget-messaging">
            <div class="panel-heading">
                <div class="panel-btns">
                </div><!-- panel-btns -->
                <h3 class="panel-title">New leads</h3>
            </div>
            <div class="panel-body">
                <ul id="new-leads">
                </ul>
            </div><!-- panel-body -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-success panel-stat-dashboard">
            <div class="panel-heading center-items-vertically padding-left-30" style="min-height:310px">
                <div class="row">
                    <div>
                        <h1 style="display:inline">$</h1>
                        <h1 style="display:inline" id="sales-opportunity">0</h1>
                        @*<h1 style="display:inline">k</h1>*@
                    </div>
                    <label>Sales oportunity</label>
                    <h1>MXN</h1>
                </div>
            </div><!-- panel-heading -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-success dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/group_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="average-lead-score">0</h1>
                    <label>Average lead score</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-danger dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/tag_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row" style="text-align:center;">
                    <h1 style="display:inline">$</h1>
                    <h1 style="display:inline" id="average-lead-cost">0</h1>
                    @*<h1 style="display:inline">k</h1>*@
                    <label>Average lead cost</label>
                    <label>MXN</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-info dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/fire_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="hot-leads">0</h1>
                    <label>Hot leads</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-primary dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/phone_out_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="first-aproach-call-done">60</h1>
                    <label>First contact call done</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-warning dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/phone_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="total-calls">00</h1>
                    <label>% Total calls</label>
                </div>
                <div class="row">
                    <div class="progress">
                        <div id="total-calls-progress" class="progress-bar progress-bar-warning" role="progressbar">
                            <span class="sr-only">60% Complete (warning)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-info dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/hands_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="upsell-potential">0</h1>
                    <label>Premier Leads</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-primary dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/fabric_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="industry-alert">0</h1>
                    <label>Industry alert</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-danger dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/danger_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="high-urgency">0</h1>
                    <label>High urgency</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-success dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/person_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="destination-authority">0</h1>
                    <label>Decision authority</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-md-5ths">
        <div class="panel panel-warning dashboard">
            <div class="panel-heading">
                <h3 class="panel-title"><img src="~/images/dashboard/star_layer.png" /></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <h1 id="all-star">0</h1>
                    <label>All stars</label>
                </div>
            </div>
        </div>
    </div>
</div>