﻿@model LeadsMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/leads-admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/codemirror/codemirror.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/codemirror/theme/ambiance.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.datatables.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    @Scripts.Render("/Assets/js/codemirror/codemirror.js")
    @Scripts.Render("/Assets/js/codemirror/formatting.js")
    @Scripts.Render("/Assets/js/codemirror/mode/xml.js")
    @Scripts.Render("/Assets/js/codemirror/mode/javascript.js")
    @Scripts.Render("/Assets/js/mustache.min.js")
    @Scripts.Render("/Assets/js/jquery.datatables.min.js")
    @Scripts.Render("/Assets/js/jquery.gritter.min.js")
    @Scripts.Render("/Assets/js/jquery-confirm.min.js")

    <script type='text/javascript'>
        // Main function
        $(function () {
            getUsers();
        });

        function getUsers() {
            $.get("/Dashboard/GetUsersWithRoles/", function (usersArray) {
                fillUsersWhereNeeded(usersArray);
            });
        }

        function fillUsersWhereNeeded(usersArray) {
            generateUsersTable(usersArray);
        }

        function generateUsersTable(usersArray) {
            var tempTable = $('#users-admin-table').DataTable();
            var info = tempTable.page.info();

            // Erease table
            $("#table-wrapper").empty();

            // Open table
            var tableInit = '<table id="users-admin-table" class="table mb30 admin-table">'
            var tableHead = '<thead><tr> <th>User</th> <th>First Name</th> <th>Last Name</th> <th>Company Name</th> <th>Phone</th> <th>Mobile</th> <th>Web</th> <th>Role</th> <th></th> </tr></thead>';
            var tbodyInit = '<tbody>';
            var table = tableInit + tableHead + tbodyInit;

            $.each(usersArray, function (i, item) {
                var skeleton = "<tr> <td><strong>{{userName}}</strong></td> <td>{{userFirstName}}</td> <td>{{userLastName}}</td> <td>{{companyName}}</td> <td>{{phone}}</td> <td>{{mobile}}</td> <td>{{web}}</td> <td><strong>{{roleName}}</strong></td> <td class='table-action'> <a href='#'><i class='fa fa-pencil edit-user'></i></a> <a href='#' class='delete-user'><i class='fa fa-trash-o'></i></a> <a href='#' class='config-user'><i class='fa fa-gear'></i></a> </td> </tr>"
                var html = Mustache.render(skeleton, item);
                table = table + html;
            });

            // Close table
            table = table + '</tbody>';
            table = table + '</table>';

            // Append html
            $("#table-wrapper").append(table);

            // Set data objects to each tr
            $('#users-admin-table > tbody  > tr').each(function (i, item) {
                $(this).data("user", usersArray[i]);
            });

            // Init datatable
            var datatable = $('#users-admin-table').DataTable({
                'displayStart': info.start
            });

            datatable.columns().iterator('column', function (ctx, idx) {
                $(datatable.column(idx).header()).append('<span class="sort-icon"/>');
            });
        }

        // User setttings
        $(".edit-user").live('click', function (event) {
            event.preventDefault();
            editUser($(this).closest('tr').data("user"));
        });

        // User setttings
        $(".delete-user").live('click', function (event) {
            event.preventDefault();
            deleteUser($(this).closest('tr').data("user"));
        });

        // User setttings
        $(".config-user").live('click', function (event) {
            event.preventDefault();
            changePassowrd($(this).closest('tr').data("user"));
        });

        function changePassowrd(userData) {
            var html = '<div id="" class="form-group">' +
             '<label class="control-label">New password (login)</label>' +
             '<input type="text" id="edit-new-password" class="form-control" placeholder="New password" value="">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Confirm new password</label>' +
             '<input type="text" id="edit-new-password-confirm" class="form-control" placeholder="Confirm password" value="">' +
             '</div>';

            $.confirm({
                title: 'Usuario: ' + $.trim(userData.userName),
                content: html,
                animation: 'scale',
                confirmButtonClass: 'btn-success',
                backgroundDismiss: true,
                confirmButton: 'Aplicar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    var userSettings = {
                        id: userData.userId,
                        password: $("#edit-new-password").val(),
                        confirmPassword: $("#edit-new-password-confirm").val()
                    };
                    var json = JSON.stringify(userSettings);

                    $.ajax({
                        url: '/Account/ResetPasswordAdmin/',
                        contentType: "application/json; charset=utf-8",
                        type: 'POST',
                        data: json,
                        success: function (data) {
                            gritterSuccess("Usuario editado!");
                            getUsers();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", "Verifica el password, debe tener 6 caracteres como minimo.");
                        }
                    });
                }
            });
        }

        function editUser(userData) {
            var html = '<div id="new-campaign-group" class="form-group">' +
             '<label class="control-label">User Name (login)</label>' +
             '<input type="text" id="edit-user-name" class="form-control" placeholder="Usuario (login)" value="' + $.trim(userData.userName) + '">' +
             '</div>' +
             '<label class="control-label">Name</label>' +
             '<input type="text" id="edit-user-first-name" class="form-control" placeholder="Nombre(s)" value="' + $.trim(userData.userFirstName) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Last name</label>' +
             '<input type="text" id="edit-user-last-name" class="form-control" placeholder="Apellido(s)" value="' + $.trim(userData.userLastName) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Company name</label>' +
             '<input type="text" id="edit-user-company-name" class="form-control" placeholder="Nombre de compañia" value="' + $.trim(userData.companyName) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Buisness sector</label>' +
             '<input type="text" id="edit-user-industry-sector" class="form-control" placeholder="Sector de industria" value="' + $.trim(userData.industrySector) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Phone</label>' +
             '<input type="text" id="edit-user-phone" class="form-control" placeholder="Telefono" value="' + $.trim(userData.phone) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Phone Ext</label>' +
             '<input type="text" id="edit-user-phone-ext" class="form-control" placeholder="Extensión de telefono" value="' + $.trim(userData.phoneExt) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Mobile</label>' +
             '<input type="text" id="edit-user-mobile" class="form-control" placeholder="Movíl" value="' + $.trim(userData.mobile) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Address</label>' +
             '<input type="text" id="edit-user-address" class="form-control" placeholder="Dirección" value="' + $.trim(userData.address) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Web</label>' +
             '<input type="text" id="edit-user-web" class="form-control" placeholder="Web" value="' + $.trim(userData.web) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Contact</label>' +
             '<input type="text" id="edit-user-contact" class="form-control" placeholder="Contacto" value="' + $.trim(userData.contact) + '">' +
             '</div>';

            $.confirm({
                title: 'Usuario: ' + $.trim(userData.userName),
                content: html,
                animation: 'scale',
                confirmButtonClass: 'btn-success',
                backgroundDismiss: true,
                confirmButton: 'Aplicar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    var user = {
                        id: userData.userId,
                        userName: $("#edit-user-name").val(),
                        email: $("#edit-user-name").val(),
                        firstName: $("#edit-user-first-name").val(),
                        lastName: $("#edit-user-last-name").val(),
                        companyName: $("#edit-user-company-name").val(),
                        industrySector: $("#edit-user-industry-sector").val(),
                        phone: $("#edit-user-phone").val(),
                        mobile: $("#edit-user-mobile").val(),
                        address: $("#edit-user-address").val(),
                        web: $("#edit-user-web").val(),
                        contact: $("#edit-user-contact").val(),
                        phoneExt: $("#edit-user-phone-ext").val(),
                    };
                    var json = JSON.stringify(user);

                    $.ajax({
                        url: '/Dashboard/EditUser/' + userData.userId,
                        contentType: "application/json; charset=utf-8",
                        type: 'PUT',
                        data: json,
                        success: function (data) {
                            gritterSuccess("Usuario editado!");
                            getUsers();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                }
            });
        }

        function deleteUser(userData) {
            $.confirm({
                title: 'Eliminar ' + $.trim(userData.userName),
                content: '¿Estas seguro de eliminar esta campaña?',
                confirmButtonClass: 'btn-danger',
                backgroundDismiss: true,
                confirmButton: 'Eliminar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    $.ajax({
                        url: '/Dashboard/DeleteUser/' + userData.userId,
                        type: 'DELETE',
                        success: function () {
                            gritterSuccess("Usuario eliminado!");
                            getUsers();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                },
                cancel: function () {
                    //$.alert('Canceled!')
                }
            });
        }

        function gritterSuccess(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-success',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }

        function gritterError(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-danger',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }

    </script>
}

<div class="panel panel-success">
    <div class="panel-heading minimizable">
        <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Registro de usuarios</h3>
        <p>Administracion</p>
    </div>
    <div class="panel-body" style="display: block;">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            @*<div class="row mb10">
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Firstname" />
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="Lastname" />
                </div>
            </div>*@

            <h5 class="subtitle mb5">Datos del usuario</h5>
            <p class="m20"></p>
            <div class="mb10">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @*<label class="control-label">Username</label>*@
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @*<input type="text" class="form-control" />*@
            </div>

            <div class="mb10">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @*<label class="control-label">Password</label>*@
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @*<input type="password" class="form-control" />*@
            </div>

            <div class="mb40">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                @*<label class="control-label">Retype Password</label>*@
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @*<input type="password" class="form-control" />*@
            </div>

            <div class="col-md-6 mb20">
                <h5 class="subtitle mb5">Rol</h5>
                <p class="m20">Selecciona el rol del usuario de acuerdo a sus permisos</p>

                <div class="rdio rdio-primary">
                    @Html.RadioButtonFor(m => m.Role, "User", new { id = "userRole", @checked = "checked" })
                    <label for="userRole">Usuario regular</label>
                </div>

                <div class="rdio rdio-warning">
                    @Html.RadioButtonFor(m => m.Role, "Capturer", new { id = "capturerRole" })
                    <label for="capturerRole">Capturador de datos</label>
                </div>

                <div class="rdio rdio-success">
                    @Html.RadioButtonFor(m => m.Role, "Admin", new { id = "adminRole" })
                    <label for="adminRole">Administrador</label>
                </div>
            </div>

            <button class="btn btn-success btn-block">Registrar</button>
        }
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading minimizable">
        <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Administracion de usuarios</h3>
        <p>Administracion</p>
    </div>
    <div class="panel-body" style="display: block;">
        <div id="table-wrapper" class="table-responsive">
            <table id="users-admin-table" class="table mb30">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Descripcion</th>
                        <th>User</th>
                        <th>User Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>