﻿
@{
    ViewBag.Title = "EditLead";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<form class="form-horizontal">
    <fieldset>


        <!-- change col-sm-N to reflect how you would like your column spacing (http://getbootstrap.com/css/#forms-control-sizes) -->
        <!-- Form Name -->
        <legend>Form Name</legend>

        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="name" class="control-label col-sm-2">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="" readonly="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="phone" class="control-label col-sm-2">Telefono</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" placeholder="" readonly="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="email" class="control-label col-sm-2">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" placeholder="" readonly="">

            </div>
        </div>
        <!-- Fuel UX Radios Inline http://getfuelux.com/javascript.html#radio-examples-inline -->
        <div class="form-group">
            <label for="genre" class="control-label col-sm-2">Genero</label>

            <div class="radio col-sm-10">
                <label class="radio-custom radio-inline" data-initialize="radio" id="genre-0">
                    <input class="sr-only" name="genre" type="radio" value="Masculino"> <span class="radio-label">Masculino</span>
                </label><label class="radio-custom radio-inline" data-initialize="radio" id="genre-1">
                    <input class="sr-only" name="genre" type="radio" value="Femenino"> <span class="radio-label">Femenino</span>
                </label>

            </div>
        </div>
        <!-- Fuel UX Radios http://getfuelux.com/javascript.html#radio -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Estado civil</label>
            <div class=" col-sm-10">
                <div class="radio">
                    <label class="radio-custom" data-initialize="radio" id="-0">
                        <input class="sr-only" name="" type="radio" value="Soltero">
                        <span class="radio-label">Soltero</span>
                    </label>
                </div><div class="radio">
                    <label class="radio-custom" data-initialize="radio" id="-1">
                        <input class="sr-only" name="" type="radio" value="Casado">
                        <span class="radio-label">Casado</span>
                    </label>
                </div><div class="radio">
                    <label class="radio-custom" data-initialize="radio" id="-2">
                        <input class="sr-only" name="" type="radio" value="Divorciado">
                        <span class="radio-label">Divorciado</span>
                    </label>
                </div>

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Edad</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Fecha de cumpleaños</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Calle</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Numero</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Ciudad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Estado</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">CP</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">NSE</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Pusto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Empresa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Tipo de empresa</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Sector / Industri</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">No. Empleados</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Intereses</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Preferencias</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Actividades</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Fuel UX Radios Inline http://getfuelux.com/javascript.html#radio-examples-inline -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Practica deporte</label>

            <div class="radio col-sm-10">
                <label class="radio-custom radio-inline" data-initialize="radio" id="-0">
                    <input class="sr-only" name="" type="radio" value="Si"> <span class="radio-label">Si</span>
                </label><label class="radio-custom radio-inline" data-initialize="radio" id="-1">
                    <input class="sr-only" name="" type="radio" value="No"> <span class="radio-label">No</span>
                </label>

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Habitos y actitudes</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Valores</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Creencias</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Emociones</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Tags</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Tiempo para compra</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Toma de decicion de compra</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Grado de necesidad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Comparando vs</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Bootstrap Select http://getbootstrap.com/css/#selects -->
        <div class="form-group">
            <label class="control-label col-sm-2" for="">Tags</label>
            <div class="controls  col-sm-10">
                <select id="" name="" class="form-control" multiple="">
                    <option>Upsell potential</option>
                    <option>100% llenado</option>
                    <option>Industria atractiva</option>
                    <option>Time oportunity</option>
                    <option>Job authority</option>
                </select>

            </div>
        </div>

        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Fecha lead</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Hora lead</label>
            <div class="col-sm-10">
                <input type="time" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Interesado en</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Mensaje enviado</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="" readonly="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Valor oportunidad</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Fuente del prospecto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Empresa generadora del prospecto</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Campaña</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="" readonly="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Comentarios</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Tags</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Budget</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Job</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Authority</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Need</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Time frame</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Type</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Industry</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Number</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Contact</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Quality score</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Aging</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Engagemenet</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Upsell potential</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="textinput" class="control-label col-sm-2">Lead score</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="textinput" placeholder="">

            </div>
        </div>
        <!-- Fuel UX Radios Inline http://getfuelux.com/javascript.html#radio-examples-inline -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Se concreto la venta</label>

            <div class="radio col-sm-10">
                <label class="radio-custom radio-inline" data-initialize="radio" id="-0">
                    <input class="sr-only" name="" type="radio" value="Si"> <span class="radio-label">Si</span>
                </label><label class="radio-custom radio-inline" data-initialize="radio" id="-1">
                    <input class="sr-only" name="" type="radio" value="No"> <span class="radio-label">No</span>
                </label>

            </div>
        </div>
        <!-- Text input http://getbootstrap.com/css/#forms -->
        <div class="form-group">
            <label for="" class="control-label col-sm-2">Monto aprox de venta</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="" placeholder="">

            </div>
        </div>

    </fieldset>
</form>
