﻿
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Assets/css/leads-admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.datatables.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    @Scripts.Render("~/Assets/js/jquery-ui-1.10.3.min.js")
    @Scripts.Render("~/Assets/js/jquery.ui.touch-punch.min.js")
    @Scripts.Render("/Assets/js/mustache.min.js")
    @Scripts.Render("/Assets/js/jquery.datatables.min.js")
    @Scripts.Render("/Assets/js/jquery.gritter.min.js")
    @Scripts.Render("/Assets/js/jquery-confirm.min.js")

    <script type='text/javascript'>
        // Main function
        $(function () {
            getUsers();
            getEvents();
        });

        function getUsers() {
            $.get("/api/users/", function (usersArray) {
                fillUsersWhereNeeded(usersArray);
            });
        }

        function getEvents() {
            $.get("/Calendar/GetEvents/", function (eventsArray) {
                fillEventsWhereNeeded(eventsArray);
            });
        }

        function fillUsersWhereNeeded(usersArray) {
            usersSelect(usersArray);
        }

        function fillEventsWhereNeeded(eventsArray) {
            generateEventsTable(eventsArray);
        }

        function generateEventsTable(eventsArray) {
            var tempTable = $('#events-admin-table').DataTable();
            var info = tempTable.page.info();

            // Erease table
            $("#table-wrapper").empty();

            // Open table
            var tableInit = '<table id="events-admin-table" class="table mb30 admin-table">'
            var tableHead = '<thead><tr><th>ID</th><th>Titulo</th><th>Descripcion</th><th>Empieza</th><th>Temrina</th><th>Username</th><th>Usuario (Nombre)</th><th></th></tr></thead>';
            var tbodyInit = '<tbody>';
            var table = tableInit + tableHead + tbodyInit;

            $.each(eventsArray, function (i, item) {
                var skeleton = "<tr> <td>{{id}}</td> <td><strong>{{title}}</strong></td> <td>{{description}}</td> <td>{{start}}</td> <td>{{end}}</td> <td>{{userName}}</td> <td>{{userFullName}}</td> <td class='table-action'> <a href=#><i class='fa fa-pencil edit-event'></i></a> <a href=# class='delete-event'><i class='fa fa-trash-o'></i></a> </td> </tr>"
                var html = Mustache.render(skeleton, item);
                table = table + html;
            });

            // Close table
            table = table + '</tbody>';
            table = table + '</table>';

            // Append html
            $("#table-wrapper").append(table);

            // Set data objects to each tr
            $('#events-admin-table > tbody  > tr').each(function (i, item) {
                $(this).data("event", eventsArray[i]);
            });

            // Init datatable
            var datatable = $('#events-admin-table').DataTable({
                'displayStart': info.start
            });

            // Hover stuff
            datatable.columns().iterator('column', function (ctx, idx) {
                $(datatable.column(idx).header()).append('<span class="sort-icon"/>');
            });
        }

        function usersSelect(usersArray) {
            $('#new-event-user-select').empty();
            $.each(usersArray, function (i, item) {
                $('#new-event-user-select').append($('<option>', {
                    value: item.id,
                    text: item.userName + " - " + item.userFullName
                }));
            });
        }

        $(".edit-event").live('click', function (event) {
            event.preventDefault();
            editEvent($(this).closest('tr').data("event"));
        });

        $(".delete-event").live('click', function (event) {
            event.preventDefault();
            deleteCampaign($(this).closest('tr').data("event"));
        });

        function deleteCampaign(dataEvent) {
            $.confirm({
                title: 'Eevento: ' + dataEvent.name,
                content: '¿Estas seguro de eliminar esta evento?',
                confirmButtonClass: 'btn-danger',
                backgroundDismiss: true,
                confirmButton: 'Eliminar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    $.ajax({
                        url: '/Calendar/DeleteEvent/' + dataEvent.id,
                        type: 'DELETE',
                        success: function () {
                            gritterSuccess("Evento eliminado!");
                            getEvents();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                },
                cancel: function () {
                    //$.alert('Canceled!')
                }
            });
        }

        function editEvent(dataEvent) {
            var html = '<div id="new-gen-event-group" class="form-group">' +
             '<label class="control-label">Nombre</label>' +
             '<input type="text" id="edit-event-title" class="form-control" placeholder="Nombre del evento..." value="' + $.trim(dataEvent.title) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Descripcion</label>' +
             '<input type="text" id="edit-event-description" class="form-control" placeholder="Descripcion del evento..." value="' + $.trim(dataEvent.description) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Fecha de inicio</label>' +
             '<input type="date" id="edit-start-date" class="form-control" value="' + $.trim(dataEvent.start.split('T')[0]) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Fecha final</label>' +
             '<input type="date" id="edit-end-date" class="form-control" value="' + $.trim(dataEvent.end.split('T')[0]) + '">' +
             '</div>';

            $.confirm({
                title: 'Editar evento',
                content: html,
                animation: 'scale',
                confirmButtonClass: 'btn-success',
                backgroundDismiss: true,
                confirmButton: 'Aplicar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    var startDate = document.getElementById("edit-start-date");
                    var endDate = document.getElementById("edit-end-date");
                    var calendarEvent = {
                        id: dataEvent.id,
                        title: $("#edit-event-title").val(),
                        description: $("#edit-event-description").val(),
                        start: startDate.value,
                        end: endDate.value
                    };
                    var json = JSON.stringify(calendarEvent);

                    $.ajax({
                        url: '/Calendar/EditEvent/' + dataEvent.id,
                        contentType: "application/json; charset=utf-8",
                        type: 'PUT',
                        data: json,
                        success: function (data) {
                            gritterSuccess("Evento editado!");
                            getEvents();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                }
            });
        }

        $("#submit-new-event").click(function () {
            var valid = validateNewEventForm();
            var startDate = document.getElementById("start-date");
            var endDate = document.getElementById("end-date");
            //var startDate = $("#start-date");
            //var endDate = $("#start-date");
            if (valid) {
                $.post("/Calendar/MakeEvent", {
                    title: $("#new-event-name").val(),
                    description: $("#new-event-description").val(),
                    userId: $("#new-event-user-select option:selected").val(),
                    color: $("#new-event-key option:selected").val(),
                    start: startDate.value,
                    end: endDate.value
                }, function (data) {
                    // Clean
                    $('#new-event-name').val('');
                    $('#new-event-description').val('');
                    $("#start-date").valueAsDate = ''
                    $("#end-date").valueAsDate = ''
                    // Success gritter
                    gritterSuccess("Nuevo evento añadido!");
                    getEvents();

                }).fail(function (request, status, error) {
                    gritterError("Error al crear evento!", error);
                });
            }
        });

        function validateNewEventForm() {
            var trimmedValue = $.trim($('#new-event-name').val());
            var userValue = $('#new-event-user-select').val();
            var startDate = $("#start-date").val();
            var endDate = $("#end-date").val();

            if (trimmedValue.length <= 0) {
                $("#new-event-group").addClass("has-error");
                return false;
            }

            if (startDate == null || startDate == '') {
                $("#start-date-group").addClass("has-error");
                return false;
            }

            if (endDate == null || endDate == '') {
                $("#end-date-group").addClass("has-error");
                return false;
            }

            // If it hits here then all valid
            $("#new-event-group").removeClass("has-error");
            $("#start-date-group").removeClass("has-error");
            $("#end-date-group").removeClass("has-error");
            return true;
        }

        function gritterSuccess(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-success',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }

        function gritterError(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-danger',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }
    </script>
}

<div class="panel panel-success">
    <div class="panel-heading minimizable">
        <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Registro de eventos para calendario</h3>
        <p>Administracion</p>
    </div>
    <div class="panel-body" style="display: block;">
        <h5 class="subtitle mb5">Creacion de eventos</h5>
        <p class="m20">Administracion (altas).</p>

        <div id="new-event-group" class="form-group">
            <label class="control-label">Nombre</label>
            <input type="text" id="new-event-name" class="form-control" placeholder="Titulo del evento..." required="">
        </div>
        <div class="form-group">
            <label class="control-label">Descripcion</label>
            <input type="text" id="new-event-description" class="form-control" placeholder="Descripcion del evento...." required="">
        </div>
        <div class="row">
            <div id="start-date-group" class="form-group col-lg-6 col-md-6 col-sm-12">
                <label class="control-label">Fecha de inicio</label>
                <input type="date" id="start-date" name="start-date" class="form-control">
            </div>
            <div id="end-date-group" class="form-group col-lg-6 col-md-6 col-sm-12">
                <label class="control-label">Fecha final</label>
                <input type="date" id="end-date" name="end-date" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Usuario al que se le asignara el evento</label>
            <select class="form-control" id="new-event-user-select"></select>
        </div>
        <div class="form-group">
            <label class="control-label">Tipo de evento (Color)</label>
            <select class="form-control" id="new-event-key">
                <option value="1CAF9A">Pagos (Verde)</option>
                <option value="428bca">Fecha de corte (Azul)</option>
                <option value="d9534f">Envio de reporte (Rojo)</option>
                <option value="f0ad4e">Reunion (Naranja)</option>
                <option value="824d96">Otro (Morado)</option>
            </select>
        </div>
        <div class="form-group">
            <button id="submit-new-event" class="pull-right btn btn-success">Submit</button>
        </div>

        <h5 class="subtitle mb5">Todas los eventos</h5>
        <p class="m20">Administracion (edicion).</p>
        <div id="table-wrapper" class="table-responsive">
            <table id="events-admin-table" class="table mb30">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Descripcion</th>
                        <th>User</th>
                        <th>User Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>