﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


@section CustomStyles
{
    @*<link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Assets/css/fullcalendar.css")" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <style>
        .fc-event-desc {
            font-family: 'LatoRegular';
            margin-left: 6px;
            text-transform: capitalize;
        }
        .fc-event-title {
            font-family: 'LatoBold';
            text-transform: capitalize;
            font-size: 14px;
        }
    </style>
}

@section Scripts
{
    @Scripts.Render("~/Assets/js/jquery-ui-1.10.3.min.js")
    @Scripts.Render("~/Assets/js/jquery.ui.touch-punch.min.js")
    @Scripts.Render("~/Assets/js/fullcalendar.min.js")

    <script type='text/javascript'>
        /* initialize the calendar
            -----------------------------------------------------------------*/
        var calendar = jQuery('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            eventRender: function (event, element) {
                if (event.description == null) { event.description = ""; }
                element.find('.fc-event-inner').append("<br/>").append('<span class="fc-event-desc">' + event.description + '</span>'); 
            },
            editable: false,
            droppable: false // this allows things to be dropped onto the calendar !!!
        });

        // Main function
        $(function () {
            getEvents();
        });

        function getEvents() {
            $.get("/Calendar/GetMyEvents/", function (eventsArray) {
                fillEventsWhereNeeded(eventsArray);
            });
        }

        function fillEventsWhereNeeded(eventsArray) {
            generateEventsInCalendar(eventsArray);
        }

        function generateEventsInCalendar(eventsArray) {
            $.each(eventsArray, function (i, item) {
                if (item.descrition == null) { item.descrition; }
                var myEvent = {
                    title: item.title,
                    description: item.description,
                    allDay: true,
                    start: item.start,
                    end: item.end,
                    stick: true,
                    color: "#" + item.color
                };

                calendar.fullCalendar('renderEvent', myEvent, true);
            });
        }
    </script>
}


<div id="calendar"></div>
@*<div id="calendar" style="height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px;min-height:1300px;"></div>*@