﻿@using LeadsMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<section>
    <div class="signinpanel">
        <div class="row">
            <div class="col-md-7">
                <div class="signin-info">
                    <div class="logopanel">
                        <h1><span>[</span> Buro creativo <span>]</span></h1>
                        <img alt="" src="/Assets/images/profetlogo.png" style="max-width: 140px;height: auto; margin-top:30px;">
                    </div><!-- logopanel -->
                    <div class="mb20"></div>
                    @*<h5><strong>Welcome!</strong></h5>*@
                    <ul>
                        @*<li><i class="fa fa-arrow-circle-o-right mr5"></i> Fully Responsive Layout</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> HTML5/CSS3 Valid</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> Retina Ready</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> WYSIWYG CKEditor</li>
                        <li><i class="fa fa-arrow-circle-o-right mr5"></i> and much more...</li>*@
                    </ul>
                    <div class="mb20"></div>
                    @*<strong>Not a member? <a href="signup.html">Sign Up</a></strong>*@
                </div><!-- signin0-info -->
            </div><!-- col-sm-7 -->
            <div class="col-md-5">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4 class="nomargin">Sign In</h4>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <p class="mt5 mb20">Login to access your account.</p>

                    @*<input type="text" class="form-control uname" placeholder="Username" />*@
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control uname", @placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    @*<input type="password" class="form-control pword" placeholder="Password" />*@
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control pword", @placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @placeholder = "Password" })

                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)

                    @*<a href="#"><small>Forgot Your Password?</small></a>*@
                    <button class="btn btn-success btn-block">Sign In</button>
                }
            </div><!-- col-sm-5 -->

        </div><!-- row -->

        <div class="signup-footer">
            <div class="pull-left">
            </div>
            <div class="pull-right">
            </div>
        </div>

    </div><!-- signin -->
</section>