﻿@model LeadsMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<section>
    <div class="signuppanel">
        <div class="row">
            <div class="col-md-6">
                <div class="signup-info">
                    <div class="logopanel">
                        <h1><span>[</span> Buro creativo <span>]</span></h1>
                    </div><!-- logopanel -->

                    <div class="mb20"></div>

                    @*<h5><strong>Register</strong></h5>
                    <p>Bracket is a theme that is perfect if you want to create your own content management, monitoring or any other system for your project.</p>
                    <p>Below are some of the benefits you can have when purchasing this template.</p>
                    <div class="mb20"></div>

                    <div class="feat-list">
                        <i class="fa fa-wrench"></i>
                        <h4 class="text-success">Easy to Customize</h4>
                        <p>Bracket is made using Bootstrap 3 so you can easily customize any element of this template following the structure of Bootstrap 3.</p>
                    </div>

                    <div class="feat-list">
                        <i class="fa fa-compress"></i>
                        <h4 class="text-success">Fully Responsive Layout</h4>
                        <p>Bracket is design to fit on all browser widths and all resolutions on all mobile devices. Try to scale your browser and see the results.</p>
                    </div>

                    <div class="feat-list mb20">
                        <i class="fa fa-search-plus"></i>
                        <h4 class="text-success">Retina Ready</h4>
                        <p>When a user load a page, a script checks each image on the page to see if there's a high-res version of that image. If a high-res exists, the script will swap that image in place.</p>
                    </div>

                    <h4 class="mb20">and much more...</h4>*@

                </div><!-- signup-info -->

            </div><!-- col-sm-6 -->

            <div class="col-md-6">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h3 class="nomargin">Sign Up</h3>
                    
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <p class="mt5 mb20">Already a member? <a href="signin.html"><strong>Sign In</strong></a></p>

                    <label class="control-label">Name</label>
                    @*<div class="row mb10">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Firstname" />
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Lastname" />
                        </div>
                    </div>*@

                    <div class="mb10">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @*<label class="control-label">Username</label>*@
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @*<input type="text" class="form-control" />*@
                    </div>

                    <div class="mb10">
                        @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                        @*<label class="control-label">Password</label>*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @*<input type="password" class="form-control" />*@
                    </div>

                    <div class="mb10">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                        @*<label class="control-label">Retype Password</label>*@
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @*<input type="password" class="form-control" />*@
                    </div>

                    <button class="btn btn-success btn-block">Sign Up</button>
                }

            </div><!-- col-sm-6 -->

        </div><!-- row -->

        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2016. All Rights Reserved.
            </div>
            <div class="pull-right">
                @*Created By: <a href="http://themepixels.com/" target="_blank">ThemePixels</a>*@
            </div>
        </div>

    </div><!-- signuppanel -->

</section>