﻿.dashboard > .panel-heading {
    padding: 10px;
    min-height: 47px;
}

.dashboard > .panel-body {
    padding: 15px 25px 25px 25px;
}

.dashboard.panel-success > .panel-body {
    background-color: #1caf9a;
    color: white;
}

.dashboard.panel-success > .panel-heading {
    background-color: #158676;
}

.dashboard.panel-info > .panel-body {
    background-color: #428bca;
    color: white;
}

.dashboard.panel-info > .panel-heading {
    background-color: #2f608b;
}

.dashboard.panel-warning > .panel-body {
    background-color: #f0ad4e;
    color: white;
}

.dashboard.panel-warning > .panel-heading {
    background-color: #ab7936;
}

.dashboard.panel-danger > .panel-body {
    background-color: #d9534f;
    color: white;
}

.dashboard.panel-danger > .panel-heading {
    background-color: #a53d3a;
}

.dashboard.panel-primary > .panel-body {
    background-color: #2b3f5a;
    color: white;
}

.dashboard.panel-primary > .panel-heading {
    background-color: #1f2936;
}

.dashboard img {
    display:block;
    margin:auto;
}

.dashboard > .panel-body {
    min-height: 147px;
}

.force-max-height {
    max-height: 147px;
}

.dashboard > .panel-body > .row > h1 {
    display:block;
    margin:auto;
    font-family:'HelveticaNeueBold';
    font-weight:bold;
    font-size: 70px;
    text-align: center;
}

.dashboard > .panel-body > .row > label {
    display: block;
    margin: auto;
    text-align: center;
    color: white;
    font-size:13px;
    text-transform: uppercase;
}

.dashboard > .panel-body > .row > .progress {
    margin-top: 10px;
    margin-bottom: 0px;
    height: 10px;
}

.dashboard.panel-info > .panel-body > .row > .progress > .progress-bar {
    background-color: #2f608b;
}

.dashboard.panel-success > .panel-body > .row > .progress > .progress-bar {
    background-color: #158676;
}

.dashboard.panel-warning > .panel-body > .row > .progress > .progress-bar {
    background-color: #ab7936;
}

.dashboard.panel-danger > .panel-body > .row > .progress > .progress-bar {
    background-color: #a53d3a;
}

.dashboard.panel-primary > .panel-body > .row > .progress > .progress-bar {
    background-color: #1f2936;
}

.panel-stat-dashboard {
    
}

#lead-count{
  font-size: 77px;
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-top:25px;
  position: absolute;
  z-index:999;
}

.lead-count-title {
  font-size: 15px;
  font-family: "LatoRegular";
  margin-left:5px;
  margin-top:10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  text-transform:uppercase;
}

.panel-stat-dashboard h1{
    color: white;
    font-size: 70px;
    font-family: "Helvetica Neue";
    font-weight: bold;
}

.panel-stat-dashboard label{
    color: white;
    font-family: "LatoBold";
    font-size: 15px;
    text-transform: uppercase;
}

.widget-messaging ul li {
    padding: 15px;
    min-height: 90px;
}

@media (min-width: 768px) {
    .dashboard > .panel-body > .row > h1 {
        display:block;
        margin:auto;
        font-family:'HelveticaNeueBold';
        font-weight:bold;
        font-size: 40px;
        text-align: center;
    }
}

@media (min-width: 992px) {
    .dashboard > .panel-body > .row > h1 {
        display:block;
        margin:auto;
        font-family:'HelveticaNeueBold';
        font-weight:bold;
        font-size: 50px;
        text-align: center;
        font-size: 2.9vw;
    }
}
