﻿@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/helvetica/HelveticaNeue.eot');
    src: url('../fonts/helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/HelveticaNeue.woff') format('woff'),
         url('../fonts/helvetica/HelveticaNeue.ttf') format('truetype'),
         url('../fonts/helvetica/HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/helvetica/HelveticaNeue-Bold.eot');
    src: url('../fonts/helvetica/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/HelveticaNeue-Bold.woff') format('woff'),
         url('../fonts/helvetica/HelveticaNeue-Bold.ttf') format('truetype'),
         url('../fonts/helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'HelveticaBold';
        src: url('../fonts/helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    }
}