﻿/** Modifications **/
/*******************/
.progress-request {
    display: block;
    text-align: center;
    width: 0;
    height: 5px;
    background: #408CCA;
    transition: width .3s;
    margin-bottom: 1px;
}

#sort-score {
    cursor: pointer;
}

#sort-date {
    cursor: pointer;
}

.progress-request.hide {
    opacity: 0;
    transition: opacity 1.3s;
}

.editable {
    background-color: lightgoldenrodyellow;
}

.disabled {
    opacity: .5;
    pointer-events: none;
}

/* Lead selectable list */
#selectable .ui-selecting {
    background: #5AA6E4;
}

#selectable .ui-selected {
    background: #408CCA;
    color: white;
}

.name {
  font-size: 15px;
  font-family: "LatoBold";
  color: rgb(255, 255, 255);
  color: #444444;
  padding-left: 10px;
}

.email {
    color: #666666;
    font-size: 13px;
    padding-left: 10px;
}

.score {
    font-size: 21px;
    font-family: "LatoBold";
    color: #1caf9a;
}

.datetime {
  font-size: 12px;
  font-family: "LatoRegular";
  margin-top:3px;
}


.phone-icon {
    content:url("/images/phone.png");
}

.eye-icon {
    content:url("/images/eye.png");
}

.ui-selected .score {
    color: rgba(255, 255, 255, 0.6);
}

.ui-selected .name {
    color: white;
}

.ui-selected .email {
    color: white;
}

.ui-selected .phone-icon {
    content:url("/images/phone-selected.png");
}

.ui-selected .eye-icon {
    content:url("/images/eye-selected.png");
}

/* Lead details */
.detail-title {
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'LatoRegular';
    font-weight: bold;
    line-height: 17px;
    color: #afafaf;
}

.detail-definition {
    font-family: 'LatoBold';
    font-size: 15px;
    color: #666666;
    min-height: 22px;
}


.padding-left-30 {
    padding-left: 30px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.min-height-adjust {
    min-height: 686px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.tab-title {
    font-family: 'LatoBold';
}

.centered-tabs > li {
    width: 50%;
}

.centered-tabs {
    text-align:center;
}

.nav-tabs>li>a {
    margin-right: 0px;
}

.nav-dark {
     background: #1DAF9A;
}

.padding-15 {
    padding: 15px !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #148373;
    border: 0;
}

.nav-tabs>li {
    float: left;
    color: #fff;
    margin-bottom: 0px;
}

.nav-tabs > li > a {
    border: 0;
    padding: 10px 0px;
    color: #666;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #fff;
    cursor: default;
    /*border: 1px solid #ddd;*/
    border-bottom-color: transparent;
}

.force-primary {
    background-color: #1d2939 !important;
    color: white !important;
}

.panel-heading {
    border-bottom: 0px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-stat .panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.nav-dark > li > a {
    color: #fff;
}

.panel-alt .panel-heading {
    padding: 13px 20px;
}

/* Panels */
.nopadding {
   padding: 0px !important;
   margin: 0 !important;
}

/* Panels */
.onepadding {
   padding: 0px 1px 0px 0px !important;
   margin: 0 !important;
}

/* Datepicker input hide */
.hide-width {
    width: 0px !important;
    padding: 0px;
    border: 0px;
    margin-top: 25px;
    margin-left: 10px
}

.padding-left-16 {
    padding-left: 16px;
}

.bar-option-desc {
    color: #000;
    font-size: 14px;
}

.bar-option-desc label {
    margin-bottom: 0px !important;
}

#date-range {
    cursor: pointer;
}

.dp-highlight .ui-state-default {
    background: #1CAF9A;
    color: #FFF;
}

.panel-body {
    padding: 25px;
}

.segmented-control {
    margin: 0px;
    display: inline;
}

.segmented-control > li > a {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

.form-inline .form-group {
    margin-right: 3px;
}

.body100 {
    width: 100%;
}

.select-campaign {
    width: 70%;
}

.margin-top-0 {
    margin-top: 15px !important;
}

#lead-search {
    border-radius: 0px;
    color: black;
}

#lead-search::-webkit-input-placeholder {
  color: #333;
}

.right-arrow {
	position: relative;
	background: #408CCA;
	padding: 15px;
    z-index: 9;
}
.right-arrow:after {
	content: '';
	display: block;  
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -10px;
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #408CCA;
}

.lead-item {
    min-height: 98px;
}

.margin-top-neg-5 {
    margin-top:-5px;
}

/*
    Prospect evaluaiton
*/
.bant .progress {
    width: 100%;
    height: 8px;
    margin-top:6px;
}

.bant-container {
    /*padding-top: 10px;*/
    padding-left: 10px;
}

.bant-text {
  font-size: 14px;
  font-family: "LatoRegular";
  color: rgb(24, 174, 153);
  text-transform: uppercase;
}

.bant-percent {
    font-size:16px;
}

.bant-canvas {
    width: 100% !important;
    max-width: 80px;
    height: auto !important;
}

.bar-canvas {
    position: relative;
    right: 16px;
}

.number-canvas {
    text-align: center;
}

.global-canvas {
    width: 100% !important;
    max-width: 190px;
    height: auto !important;
}

.canvas-desc {
  font-size: 14px;
  font-family: "LatoBold";
  color: rgb(24, 174, 153);
  text-transform: uppercase;
  line-height: 1.8;
  text-align: center;
}

.padding-canvas {
    padding: 10px;
}

.canvas-rectangle {
  background-color: rgb(24, 174, 153);
  height: 235px;
  max-height: 235px;
}

.bant-tags {
    height: 160px;
    max-height: 160px;
}

.lead-tag img {
    display: block;
    margin: auto;
}

#lead-show-more {
    position: absolute;
    cursor: pointer;
    top: 716px;
    right: 24px;
    font-family: 'LatoBold';
    font-size: 15px;
    color: #666666;
    min-height: 22px;
}

#lead-show-less {
    float: right;
    right: 24px;
    cursor: pointer;
    font-family: 'LatoBold';
    font-size: 15px;
    color: #666666;
    min-height: 22px;
}

.lead-tag .text {
  font-size: 11px;
  font-family: "LatoBold";
  color: #d7d7d7;
  text-transform: uppercase;
  line-height: 1.3;
  text-align: center;
  margin-top: 5px;
}

.lead-tag.active > .text {
  color: rgb(28, 175, 154);
}

.tag-upsell-potential img {
    content:url("/images/leads/hands.png");
}

.active.tag-upsell-potential img {
    content:url("/images/leads/hands-active.png");
}

.filled-100 img {
    content:url("/images/leads/filled.png");
}

.active.filled-100 img {
    content:url("/images/leads/filled-active.png");
}

.industry img {
    content:url("/images/leads/industry.png");
}

.active.industry img {
    content:url("/images/leads/industry-active.png");
}

.time-opportunity img {
    content:url("/images/leads/time.png");
}

.active.time-opportunity img {
    content:url("/images/leads/time-active.png");
}

.job-authority img {
    content:url("/images/leads/person.png");
}

.active.job-authority img {
    content:url("/images/leads/person-active.png");
}

.all-stars img {
    content:url("/images/leads/star.png");
}

.active.all-stars img {
    content:url("/images/leads/star-active.png");
}

.half-height {
    height: 50%;
}

.notes-icon {
    float:right;
    font-size: 16px;
    font-family: "FontAwesome";
    line-height: 1.2;
    margin-left: 8px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    cursor: pointer;
}

.notes-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(172, 172, 172);
    line-height: 1.2;
    text-align: justify;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin-top: 10px;
  margin-bottom: 7px;
  overflow: hidden;
  background-color: rgb(204, 204, 204);
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.col-scrollable {
    display: inline-block;
    width: auto;
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 768px) {
    .form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    }

    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .pull-right-lg {
        float: right;
    }
}