﻿/**
    Old admin css
    ===============================================================
*/
.admin-table tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.admin-table tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.admin-table tr.even:hover {
	background-color: #ECFFB3;
}

.admin-table tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.admin-table tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.admin-table tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.admin-table tr.odd:hover {
	background-color: #E6FF99;
}

.admin-table tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.admin-table tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.admin-table tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}

table.dataTable thead th {
  background: transparent !important;
  white-space: nowrap;
}

table.dataTable thead span.sort-icon {
  
  padding-left: 20px;
  width: 16px;
  height: 16px;
}

table.dataTable thead .sorting span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled span { background: url('http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/images/sort_desc_disabled.png') no-repeat center right; }


/**
    New leads admin css
    ===============================================================
*/
.force-black {
    background-color: #fcfcfc !important;
    color: black !important;
}

.panel-dark .panel-title {
    color: black;
}

.panel {
    margin-bottom: 0px;
    border-radius: 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #333;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #333;
    border-color: #1CAF9A;
}

.nav-dark {
    background: #636363;
}

.onepadding {
    padding: 0px 0px 0px 0px !important;
    margin: 0 !important;
}

.nav-tabs {
    border: 0;
    -moz-border-radius: 0px 0px 0 0;
    -webkit-border-radius: 0px 0px 0 0;
    border-radius: 0px 0px 0 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

h4, .h4 {
    line-height: 16px;
}

.lead-item {
    min-height: 70px;
}

.min-height-adjust {
    min-height: 799px;
}

.score {
    font-size: 16px;
    font-family: "LatoBold";
    color: #333;
}

#selectable .ui-selected {
    background: #333;
    color: white;
}

.right-arrow:after {
    border-left: 10px solid #333;
}

.bant-text {
    color: #333;
}

.progress-bar-success {
    background-color: #333;
}

.canvas-desc {
    color: #333;
}

.panel-success .panel-heading {
    background-color: #333;
}

.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding-left: 0;
}

.custom-menu li {
    padding: 8px 16px;
    cursor: pointer;
    list-style-type: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.menu-phone {
    margin-top: 5px;
    margin-right: 11px;
}

contenteditable {
    background-color: cornsilk;
}