﻿.campaign-description {
    padding-left: 5px;
    padding-bottom: 9px;
    min-height:54px;
}

.campaign-first {
  font-size: 12px;
  font-family: "LatoRegular";
  color: rgb(29, 41, 57);
  text-align: left;
  text-transform: uppercase;
}

.campaign-second {
  font-size: 16px;
  font-family: "LatoRegular";
  color: rgb(28, 175, 154);
  line-height: 1.5;
  text-align: left;
}

.campaign-panel-content {
    padding: 15px 25px 11px 25px !important;
    min-height: inherit !important;
}

.campaign-block-title {
    font-size: 13px;
    font-family: "LatoRegular";
    color: rgb(255, 254, 254);
    text-align: left;
    text-transform:uppercase;
}

.padding13 {
    padding: 13px !important;
}

.campaign-block-number {
    font-size: 30px;
    font-family: "Helvetica Neue";
    color: rgb(255, 254, 254);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.campaign-block-sub-number {
    font-size: 13px;
    font-family: "Helvetica Neue";
    color: rgb(255, 254, 254);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    text-transform:uppercase;
}

.campaign-block-text {
  font-size: 10px;
  font-family: "LatoRegular";
  color: rgb(255, 254, 254);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-transform:uppercase;
}


.documentation-block-text {
  font-size: 14.291px;
  font-family: "LatoRegular";
  color: rgb(255, 254, 254);
  line-height: 1.539;
  text-align: left;
}

.profile-block {
    padding-left: 20px;
    padding-right: 20px;
}

.profile-title {
  font-size: 25px;
  font-family: "Helvetica Neue";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.2;
  line-height: 50px;
  border-bottom: 2px solid #17917f;
}

.profile-section {
    padding-top:26px;
}

.profile-section-line {
    padding-top:10px;
}

.profile-section-title {
  font-size: 14px;
  font-family: "LatoBold";
  color: rgb(29, 41, 57);
  line-height: 1.231;
  text-align: left;
  text-transform: uppercase;
}

.profile-section-big {
  font-size: 20px;
  margin-left: 3px;
  font-family: "LatoBold";
  color: rgb(255, 255, 255);
  line-height: 1.455;
  text-align: left;
}


.interest {
  font-size: 13px;
  font-family: "LatoRegular";
  padding: 6px 21px 7px 20px;
  margin-left: 6px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.5;
  background-color: #168c7b
}

