﻿<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="row center-items-vertically">
                <div class="panel-body body100">
                    <div class="row">
                        <div class="col-md-5">
                            <form class="form-inline">
                                <!-- Date range picker -->
                                <div class="form-group">
                                    <div class="">
                                        <div class="hidden">
                                            <label><b>To:</b></label>
                                            <input type="text" id="inputDate1" size="10">
                                            <label><b>From:</b></label>
                                            <input type="text" id="inputDate2" size="10">
                                        </div>
                                        <div id="date-desc" class="bar-option-desc">
                                            <label><b>Pick a date range</b></label>
                                            <span class="caret"></span>
                                        </div>
                                    </div>
                                    <div class="datepicker hidden"></div>
                                </div>

                                <!-- Segmented control for date range picker -->
                                <div class="form-group">
                                    <ul id="segmented-date" class="pagination segmented-control">
                                        <li id="7-days"><a href="#">7 Days</a></li>
                                        <li id="30-days"><a href="#">30 Days</a></li>
                                        <li id="date-range" class="active"><a href="#">Custom</a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 nopadding">
                            <form class="form-inline">
                                <!-- Leads segmented control -->
                                <div class="form-group bar-option-desc">
                                    <label><b>LEADS</b></label>
                                </div>
                                <div class="form-group">
                                    <ul id="segmented-leads" class="pagination segmented-control">
                                        <li data-segmentation="@LeadsMVC.Utils.Constants.Segmentation.All" class="active" ><a href="#">All</a></li>
                                        <li data-segmentation="@LeadsMVC.Utils.Constants.Segmentation.Own"><a href="#">Own</a></li>
                                        <li data-segmentation="@LeadsMVC.Utils.Constants.Segmentation.Pool"><a href="#">Lead Pool</a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form class="form-inline">
                                <!-- Campaigns Dropdown -->
                                <div class="form-group bar-option-desc">
                                    <label><b>CAMPAIGNS</b></label>
                                </div>
                                <div class="form-group select-campaign">
                                    <select id="campaigns-select" class="form-control">
                                        <option>Cargando...</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div><!-- row -->