﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    @Styles.Render("~/Assets/css/style.default.css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="signin">
    @RenderBody()

    <!-- Scripts -->
    @Scripts.Render("~/Assets/js/jquery-1.11.1.min.js")
    @Scripts.Render("~/Assets/js/jquery-migrate-1.2.1.min.js")
    @Scripts.Render("~/Assets/js/bootstrap.min.js")
    @Scripts.Render("~/Assets/js/modernizr.min.js")
    @Scripts.Render("~/Assets/js/jquery.sparkline.min.js")
    @Scripts.Render("~/Assets/js/jquery.cookies.js")
    @Scripts.Render("~/Assets/js/toggles.min.js")
    @Scripts.Render("~/Assets/js/retina.min.js")
    @Scripts.Render("~/Assets/js/custom.js")
    <script>
        jQuery(document).ready(function(){

            // Please do not use the code below
            // This is for demo purposes only
            var c = jQuery.cookie('change-skin');
            if (c && c == 'greyjoy') {
                jQuery('.btn-success').addClass('btn-orange').removeClass('btn-success');
            } else if(c && c == 'dodgerblue') {
                jQuery('.btn-success').addClass('btn-primary').removeClass('btn-success');
            } else if (c && c == 'katniss') {
                jQuery('.btn-success').addClass('btn-primary').removeClass('btn-success');
            }
        });
    </script>
</body>
</html>