﻿<div class="row">
    <!-- Leads -->
    @{
        String panelLeadsClass = "panel panel-success panel-stat";
        String controllerName = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
        if (!(controllerName == "Dashboard" || controllerName == "Leads"))
        {
            panelLeadsClass += " greyscale";
        }
    }

    <div class="col-sm-12 col-md-4">
        <div class="@panelLeadsClass" style="cursor:pointer" onclick="location.href='/Leads'">
            <div class="panel-heading">
                <div class="main-panel padding16">
                    <div class="row center-items-vertically">
                        <div class="col-xs-6">
                            <img class="pull-right" src="/images/LeadsPanel.png" alt="" />
                        </div>
                        <div class="col-xs-6">
                            <p>Leads</p>
                        </div>
                    </div><!-- row -->

                </div><!-- stat -->
            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    @{
        String panelAnalyticsClass = "panel panel-analytics panel-stat";
        if (!(controllerName == "Dashboard" || controllerName == "Analytics"))
        {
            panelAnalyticsClass += " greyscale";
        }
    }
    <!-- Analytics -->
    <div class="col-sm-12 col-md-4" >
        <div class="@panelAnalyticsClass" style="cursor:pointer" onclick="location.href='/Analytics'">
            <div class="panel-heading">
                <div class="main-panel padding16">
                    <div class="row center-items-vertically">
                        <div class="col-xs-4">
                            <img class="pull-right" src="~/images/AnalyticsPanel.png" alt="" />
                        </div>
                        <div class="col-xs-8">
                            <p>Profet analytics</p>
                        </div>
                    </div><!-- row -->

                </div><!-- stat -->
            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->

    @{
        String panelReportsClass = "panel panel-reports panel-stat";
        if (!(controllerName == "Dashboard" || controllerName == "Reports"))
        {
            panelReportsClass += " greyscale";
        }
    }
    <!-- Reports -->
    <div class="col-sm-12 col-md-4">
        <div class="@panelReportsClass" style="cursor:pointer" onclick="location.href='/Reports'">
            <div class="panel-heading">
                <div class="main-panel padding16">
                    <div class="row center-items-vertically">
                        <div class="col-xs-5">
                            <img class="pull-right" src="/images/ReportsPanel.png" alt="" />
                        </div>
                        <div class="col-xs-7">
                            <p>Reports</p>
                        </div>
                    </div><!-- row -->

                </div><!-- stat -->
            </div><!-- panel-heading -->
        </div><!-- panel -->
    </div><!-- col-sm-6 -->
</div><!-- row -->
