﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @*<link rel="shortcut icon" href="/images/favicon.png" type="image/png">*@

    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Assets/css/style.default.css")
    @RenderSection("CustomStyles", required: false)

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
    <section>

        <div class="leftpanel">

            <div class="logopanel">
                @*<h1><span>[</span> profet <span>]</span></h1>*@
                <img alt="" src="/Assets/images/profetlogo.png" style="width: auto;max-height: 84px;margin-bottom: 8px; margin-top:9px">
            </div><!-- logopanel -->

            <div class="leftpanelinner">

                <!-- This is only visible to small devices -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media userlogged">
                        <img alt="" src="/images/photos/loggeduser.png" class="media-object">
                        <div class="media-body">
                            <h4></h4>
                            <span>""</span>
                        </div>
                    </div>

                    <h5 class="sidebartitle actitle">Account</h5>
                    <ul class="nav nav-pills nav-stacked nav-bracket mb30">
                        @*<li><a href="profile.html"><i class="fa fa-user"></i> <span>Profile</span></a></li>
                        <li><a href=""><i class="fa fa-cog"></i> <span>Account Settings</span></a></li>
                        <li><a href=""><i class="fa fa-question-circle"></i> <span>Help</span></a></li>*@
                        <li id="singout"><a href="#"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                    </ul>
                </div>

                @{
                    String dashboardClass = "", profileClass = "", leadsClass = "", reportsClass = "", calendarClass = "";
                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Dashboard")
                    {
                        dashboardClass = "active";
                    }

                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Profile")
                    {
                        profileClass = "active";
                    }

                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Leads")
                    {
                        leadsClass = "active";
                    }

                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Reports")
                    {
                        reportsClass = "active";
                    }
                    if (HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() == "Calendar")
                    {
                        calendarClass = "active";
                    }
                }

                <h5 class="sidebartitle">Navigation</h5>
                <ul class="nav nav-pills nav-stacked nav-bracket">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-parent @dashboardClass">
                            <a href=""><i class="fa fa-home"></i> <span>Dashboard</span></a>
                            <ul class="children" style="display: block;">
                                <li><a href="/"><i class="fa fa-caret-right"></i> Index</a></li>
                                <li><a href="/Dashboard/Admin"><i class="fa fa-caret-right"></i> Industries administration</a></li>
                                <li><a href="/Dashboard/Users"><i class="fa fa-caret-right"></i> User administration</a></li>
                                <li><a href="/Capturer"><i class="fa fa-caret-right"></i> Lead capturer</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="@dashboardClass"><a href="/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
                    }
                    <li class="@profileClass"><a href="/Profile"><i class="glyphicon glyphicon-user"></i> <span>My Profile</span></a></li>
                    <li class=""><a href="/Analytics"><i class="glyphicon glyphicon-stats"></i> <span>Profet Analytics</span></a></li>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-parent @leadsClass">
                            <a href=""><i class="glyphicon glyphicon-list-alt"></i> <span>Leads</span></a>
                            <ul class="children" style="display: block;">
                                <li><a href="/Leads"><i class="fa fa-caret-right"></i> Index</a></li>
                                <li><a href="/Leads/Admin"><i class="fa fa-caret-right"></i> Campaigns administration</a></li>
                                <li><a href="/Leads/LeadsAdmin"><i class="fa fa-caret-right"></i> Leads administration</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="@leadsClass"><a href="/Leads"><i class="glyphicon glyphicon-list-alt"></i> <span>Leads</span></a></li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-parent @reportsClass">
                            <a href=""><i class="fa fa-th-list"></i> <span>Reports</span></a>
                            <ul class="children" style="display: block;">
                                <li><a href="/Reports"><i class="fa fa-caret-right"></i> Index</a></li>
                                <li><a href="/Reports/Admin"><i class="fa fa-caret-right"></i> Administration</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="@reportsClass"><a href="/Reports"><i class="fa fa-th-list"></i> <span>Reports</span></a></li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-parent @calendarClass">
                            <a href=""><i class="fa fa-calendar"></i> <span>Calendar</span></a>
                            <ul class="children" style="display: block;">
                                <li><a href="/Calendar"><i class="fa fa-calendar"></i> Index</a></li>
                                <li><a href="/Calendar/Admin"><i class="fa fa-caret-right"></i> Events administration</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="@calendarClass"><a href="/Calendar"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>
                    }
                </ul>

                @*<div class="infosummary">
                    <h5 class="sidebartitle">Information Summary</h5>
                    <ul>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Daily Traffic</span>
                                <h4>630, 201</h4>
                            </div>
                            <div id="sidebar-chart" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Average Users</span>
                                <h4>1, 332, 801</h4>
                            </div>
                            <div id="sidebar-chart2" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Disk Usage</span>
                                <h4>82.2%</h4>
                            </div>
                            <div id="sidebar-chart3" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">CPU Usage</span>
                                <h4>140.05 - 32</h4>
                            </div>
                            <div id="sidebar-chart4" class="chart"></div>
                        </li>
                        <li>
                            <div class="datainfo">
                                <span class="text-muted">Memory Usage</span>
                                <h4>32.2%</h4>
                            </div>
                            <div id="sidebar-chart5" class="chart"></div>
                        </li>
                    </ul>
                </div>*@<!-- infosummary -->

            </div><!-- leftpanelinner -->
        </div><!-- leftpanel -->

        <div class="mainpanel">

            <div class="headerbar">

                <a class="menutoggle"><i class="fa fa-bars"></i></a>

                @*<form class="searchform" action="index.html" method="post">
                    <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
                </form>*@

                <div class="header-right">
                    <ul class="headermenu">
                        @*<li>
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span class="badge">2</span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-head pull-right">
                                    <h5 class="title">2 Newly Registered Users</h5>
                                    <ul class="dropdown-list user-list">
                                        <li class="new">
                                            <div class="thumb"><a href=""><img src="/images/photos/user1.png" alt="" /></a></div>
                                            <div class="desc">
                                                <h5><a href="">Draniem Daamul (@@draniem)</a> <span class="badge badge-success">new</span></h5>
                                            </div>
                                        </li>
                                        <li class="new">
                                            <div class="thumb"><a href=""><img src="/images/photos/user2.png" alt="" /></a></div>
                                            <div class="desc">
                                                <h5><a href="">Zaham Sindilmaca (@@zaham)</a> <span class="badge badge-success">new</span></h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb"><a href=""><img src="/images/photos/user3.png" alt="" /></a></div>
                                            <div class="desc">
                                                <h5><a href="">Weno Carasbong (@@wenocar)</a></h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb"><a href=""><img src="/images/photos/user4.png" alt="" /></a></div>
                                            <div class="desc">
                                                <h5><a href="">Nusja Nawancali (@@nusja)</a></h5>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumb"><a href=""><img src="/images/photos/user5.png" alt="" /></a></div>
                                            <div class="desc">
                                                <h5><a href="">Lane Kitmari (@@lane_kitmare)</a></h5>
                                            </div>
                                        </li>
                                        <li class="new"><a href="">See All Users</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>*@
                        <li>
                            <div class="btn-group hidden">
                                <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <span class="badge">1</span>
                                </button>
                                <!-- Content below -->
                                @*<div class="dropdown-menu dropdown-menu-head pull-right">
                                    <h5 class="title">You Have 1 New Message</h5>
                                    <ul class="dropdown-list gen-list">
                                        <li class="new">
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user1.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Draniem Daamul <span class="badge badge-success">new</span></span>
                                                    <span class="msg">Lorem ipsum dolor sit amet...</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user2.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Nusja Nawancali</span>
                                                    <span class="msg">Lorem ipsum dolor sit amet...</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user3.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Weno Carasbong</span>
                                                    <span class="msg">Lorem ipsum dolor sit amet...</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user4.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Zaham Sindilmaca</span>
                                                    <span class="msg">Lorem ipsum dolor sit amet...</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user5.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Veno Leongal</span>
                                                    <span class="msg">Lorem ipsum dolor sit amet...</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="new"><a href="">Read All Messages</a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="btn-group hidden">
                                <button class="btn btn-default dropdown-toggle tp-icon" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-globe"></i>
                                    <span class="badge">5</span>
                                </button>
                                <!-- Content below -->
                                @*<div class="dropdown-menu dropdown-menu-head pull-right">
                                    <h5 class="title">You Have 5 New Notifications</h5>
                                    <ul class="dropdown-list gen-list">
                                        <li class="new">
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user4.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Zaham Sindilmaca <span class="badge badge-success">new</span></span>
                                                    <span class="msg">is now following you</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="new">
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user5.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Weno Carasbong <span class="badge badge-success">new</span></span>
                                                    <span class="msg">is now following you</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="new">
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user3.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Veno Leongal <span class="badge badge-success">new</span></span>
                                                    <span class="msg">likes your recent status</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="new">
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user3.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                                                    <span class="msg">downloaded your work</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="new">
                                            <a href="">
                                                <span class="thumb"><img src="/images/photos/user3.png" alt="" /></span>
                                                <span class="desc">
                                                    <span class="name">Nusja Nawancali <span class="badge badge-success">new</span></span>
                                                    <span class="msg">send you 2 messages</span>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="new"><a href="">See All Notifications</a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </li>
                        @Html.Partial("_UserPartial")
                    </ul>
                </div><!-- header-right -->

            </div><!-- headerbar -->

            <div class="pageheader">
                <h2><i class="fa fa-home"></i> @ViewBag.Title <span></span></h2>
                <div class="breadcrumb-wrapper">
                    <span class="label">You are here:</span>
                    <ol class="breadcrumb">
                        @*<li><a href="index.html">Bracket</a></li>*@
                        <li class="active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>

            <div class="contentpanel">
            @RenderBody()

            </div><!-- contentpanel -->

        </div><!-- mainpanel -->

        @*<div class="rightpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#rp-alluser" data-toggle="tab"><i class="fa fa-users"></i></a></li>
                <li><a href="#rp-favorites" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
                <li><a href="#rp-history" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
                <li><a href="#rp-settings" data-toggle="tab"><i class="fa fa-gear"></i></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="rp-alluser">
                    <h5 class="sidebartitle">Online Users</h5>
                    <ul class="chatuserlist">
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/userprofile.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Eileen Sideways</strong>
                                    <small>Los Angeles, CA</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user1.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <span class="pull-right badge badge-danger">2</span>
                                    <strong>Zaham Sindilmaca</strong>
                                    <small>San Francisco, CA</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user2.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Nusja Nawancali</strong>
                                    <small>Bangkok, Thailand</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user3.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Renov Leongal</strong>
                                    <small>Cebu City, Philippines</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user4.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Weno Carasbong</strong>
                                    <small>Tokyo, Japan</small>
                                </div>
                            </div><!-- media -->
                        </li>
                    </ul>

                    <div class="mb30"></div>

                    <h5 class="sidebartitle">Offline Users</h5>
                    <ul class="chatuserlist">
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user5.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Eileen Sideways</strong>
                                    <small>Los Angeles, CA</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user2.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Zaham Sindilmaca</strong>
                                    <small>San Francisco, CA</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user3.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Nusja Nawancali</strong>
                                    <small>Bangkok, Thailand</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user4.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Renov Leongal</strong>
                                    <small>Cebu City, Philippines</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user5.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Weno Carasbong</strong>
                                    <small>Tokyo, Japan</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user4.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Renov Leongal</strong>
                                    <small>Cebu City, Philippines</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user5.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Weno Carasbong</strong>
                                    <small>Tokyo, Japan</small>
                                </div>
                            </div><!-- media -->
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="rp-favorites">
                    <h5 class="sidebartitle">Favorites</h5>
                    <ul class="chatuserlist">
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user2.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Eileen Sideways</strong>
                                    <small>Los Angeles, CA</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user1.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Zaham Sindilmaca</strong>
                                    <small>San Francisco, CA</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user3.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Nusja Nawancali</strong>
                                    <small>Bangkok, Thailand</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user4.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Renov Leongal</strong>
                                    <small>Cebu City, Philippines</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user5.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Weno Carasbong</strong>
                                    <small>Tokyo, Japan</small>
                                </div>
                            </div><!-- media -->
                        </li>
                    </ul>
                </div>
                <div class="tab-pane" id="rp-history">
                    <h5 class="sidebartitle">History</h5>
                    <ul class="chatuserlist">
                        <li class="online">
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user4.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Eileen Sideways</strong>
                                    <small>Hi hello, ctc?... would you mind if I go to your...</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user2.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Zaham Sindilmaca</strong>
                                    <small>This is to inform you that your product that we...</small>
                                </div>
                            </div><!-- media -->
                        </li>
                        <li>
                            <div class="media">
                                <a href="#" class="pull-left media-thumb">
                                    <img alt="" src="/images/photos/user3.png" class="media-object">
                                </a>
                                <div class="media-body">
                                    <strong>Nusja Nawancali</strong>
                                    <small>Are you willing to have a long term relat...</small>
                                </div>
                            </div><!-- media -->
                        </li>
                    </ul>
                </div>
                <div class="tab-pane pane-settings" id="rp-settings">

                    <h5 class="sidebartitle mb20">Settings</h5>
                    <div class="form-group">
                        <label class="col-xs-8 control-label">Show Offline Users</label>
                        <div class="col-xs-4 control-label">
                            <div class="toggle toggle-success"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-8 control-label">Enable History</label>
                        <div class="col-xs-4 control-label">
                            <div class="toggle toggle-success"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-8 control-label">Show Full Name</label>
                        <div class="col-xs-4 control-label">
                            <div class="toggle-chat1 toggle-success"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-8 control-label">Show Location</label>
                        <div class="col-xs-4 control-label">
                            <div class="toggle toggle-success"></div>
                        </div>
                    </div>

                </div><!-- tab-pane -->

            </div><!-- tab-content -->
        </div>*@<!-- rightpanel -->


    </section>

    <!-- Scripts -->
    @Scripts.Render("~/Assets/js/jquery-1.11.1.min.js")
    @Scripts.Render("~/Assets/js/jquery-migrate-1.2.1.min.js")
    @Scripts.Render("~/Assets/js/bootstrap.min.js")
    @Scripts.Render("~/Assets/js/modernizr.min.js")
    @Scripts.Render("~/Assets/js/jquery.sparkline.min.js")
    @Scripts.Render("~/Assets/js/toggles.min.js")
    @Scripts.Render("~/Assets/js/retina.min.js")
    @Scripts.Render("~/Assets/js/jquery.cookies.js")
    @Scripts.Render("~/Assets/js/flot/jquery.flot.min.js")
    @Scripts.Render("~/Assets/js/flot/jquery.flot.resize.min.js")
    @Scripts.Render("~/Assets/js/flot/jquery.flot.spline.min.js")
    @Scripts.Render("~/Assets/js/morris.min.js")
    @Scripts.Render("~/Assets/js/raphael-2.1.0.min.js")
    @Scripts.Render("~/Assets/js/custom.js")

    @RenderSection("Scripts", required: false)

    <script>
        $("#singout").click(function (e) {
            e.preventDefault();
            $("#logout-button").click();
        });
    </script>
</body>
</html>
