﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Assets/images/favicon.png" type="image/png">
    <title>Bracket Responsive Bootstrap3 Admin</title>
    @Styles.Render("~/Assets/css/style.default.css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body class="signin">
    @RenderBody()

    <!-- Scripts -->
    @Scripts.Render("~/Assets/js/jquery-1.11.1.min.js")
    @Scripts.Render("~/Assets/js/jquery-migrate-1.2.1.min.js")
    @Scripts.Render("~/Assets/js/bootstrap.min.js")
    @Scripts.Render("~/Assets/js/modernizr.min.js")
    @Scripts.Render("~/Assets/js/jquery.sparkline.min.js")
    @Scripts.Render("~/Assets/js/jquery.cookies.js")
    @Scripts.Render("~/Assets/js/toggles.min.js")
    @Scripts.Render("~/Assets/js/retina.min.js")
    @Scripts.Render("~/Assets/js/custom.js")

    <script>
        jQuery(document).ready(function(){

            // Please do not use the code below
            // This is for demo purposes only
            var c = jQuery.cookie('change-skin');
            if (c && c == 'greyjoy') {
                jQuery('.btn-success').addClass('btn-orange').removeClass('btn-success');
            } else if(c && c == 'dodgerblue') {
                jQuery('.btn-success').addClass('btn-primary').removeClass('btn-success');
            } else if (c && c == 'katniss') {
                jQuery('.btn-success').addClass('btn-primary').removeClass('btn-success');
            }
        });
    </script>
</body>
</html>
