﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <img src="/images/photos/loggeduser.png" alt="" />
                @if (Request.IsAuthenticated)
                { @Context.User.Identity.Name }
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                <li><a href="/Profile"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                @*<li><a href="#"><i class="glyphicon glyphicon-cog"></i> Account Settings</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>*@
                @*<li><a href="signin.html"><i class="glyphicon glyphicon-log-out"></i> Log Out</a></li>*@
            </ul>
        </div>
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <button id="logout-button" type="button" onclick="javascript:document.getElementById('logoutForm').submit()" class="btn btn-success-alt dropdown-toggle logout-fix">
                Log Out
            </button>
        }
    </li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
        </li>
        <li>
            <button type="button" class="btn btn-success-alt dropdown-toggle logout-fix">
                WTF?
            </button>
        </li>
    </ul>
}
