﻿@{
    ViewBag.Title = "Capturador";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />

    <style>
        .ckbox label, .rdio label {
            padding-left: 23px;
            cursor: pointer;
            margin-bottom: 7px !important;
        }

        .panel-footer {
            padding: 0px 0px 0px 0px !important;
        }

        #submit-btn {
            width: 100%;
            height: 70px;
        }

    </style>
}

@section Scripts
{
    @Scripts.Render("/Assets/js/jquery.gritter.min.js")
    @Scripts.Render("/Assets/js/jquery-confirm.min.js")
    <script>

        // Main function
        $(function () {
            $(".minimize").click();

            // Textarea Autogrow
            //$('#messageSent').autogrow();
        });

        function minimize() {
            if (!$(".minimize").hasClass('maximize'))
                $(".minimize").click();
        }

        function maximize() {
            if ($(".minimize").hasClass('maximize'))
                $(".maximize").click();
        }

        function isCalled() {
            return $("#called").children().eq(0).children().children('.toggle-on').hasClass('active');
        }

        function setCalled(value) {
            if (value) {
                // Set called true
                if (!isCalled()) {
                    $("#called").click();
                }
            }
            else {
                // Set called false
                if (isCalled()) {
                    $("#called").click();
                }
            }
        }

        $("#btn-lead-search").click(function (e) {
            //e.preventDefault();
            //minimize();
            $.get("../api/leadsapi/" + leadID(),
                function (lead) {
                    // If valid lead
                    if (lead != null) {
                        maximize();
                        setValues(lead);
                    }
                    else {
                        minimize();
                    }
                }
            );
        });

        function setValues(lead) {
            //Caled
            setCalled(lead.called);

            $("#name").val(lead.name);
            $("#phone").val(lead.phone);
            $("#email").val(lead.email);
            //$("#notes").val(lead.notes);

            // TODO Genre

            // TODO Civil status

            $("#age").val(lead.age);
            $("#name").val(lead.name);
        }

        function leadID() {
            var id = $("#lead-id").val();
            if (id) {
                return id;
            }
            else {
                return 0;
            }
       } 

        $('#lead-id').on("keypress", function (e) {
            // ENTER PRESSED
            if (e.keyCode == 13) {
                $("#btn-lead-search").click();
            }
        });

        $("#submit-btn").click(function () {
            $.post("http://localhost:64687/api/leadsapi", {
                id: 1,
                phone: $("#phone").val(),
                email: $("#email").val(),
                genre: $("input[name='gender']:checked").val(),
                civilStatus: $("input[name='civilStatus']:checked").val(),
                age: $("#age").val(),
                birthday: $("#birth").val(),
                streetAndNumber: $("#streetAndNumber").val(),
                colony: $("#colony").val(),
                city: $("#city").val(),
                state: $("#state").val(),
                cp: $("#cp").val(),
                nse: $("#nse").val(),
                position: $("#position").val(),
                company: $("#company").val(),
                companyType: $("#companyType").val(),
                industrySector: $("#industrySector").val(),
                interests: $("#interests").val(),
                activities: $("#activities").val(),
                practiceSports: $("input[name='practiceSports']:checked").val(),
                habits: $("#habits").val(),
                values: $("#values").val(),
                believes: $("#believes").val(),
                emotions: $("#emotions").val(),
                behaviorTags: $("#behaviorTags").val(),
                buyingTime: $("#buyingTime").val(),
                buyingDecision: $("#buyingDecision").val(),
                needDegree: $("#needDegree").val(),
                comparingAgainst: $("#comparingAgainst").val(),
                authorityTags: $("#authorityTags").val(),
                //authorityTags: $("#authorityTags").val(),
                //authorityTags: $("#authorityTags").val(),

            })
            .done(function (lead) {
                //Do something with lead.id
            });
        })
    </script>
}

@{
    string readOnly = "readonly";
    if (User.IsInRole("Admin"))
    {
        readOnly = "readonly";
    }
}

<div class="panel panel-success">
    <div class="panel-heading">
        <div class="panel-btns">
            @*<a href="" class="panel-close">×</a>*@
            <a href="" class="hidden minimize">−</a>
        </div>
        <h4 class="panel-title">Lead capturer</h4>
        <div class="form-group">
            <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" style="margin-top:10px" class="form-control" id="lead-id" placeholder="Lead ID...">
            <button id="btn-lead-search" style="margin-top:10px" class="btn btn-success-alt">Obtener lead</button>
        </div>
    </div>
    <div class="panel-body panel-body-nopadding">
        <form class="form-horizontal">
            <fieldset>

                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Llamado</label>
                    <div class="col-sm-10">
                        <div id="called" style="height: 40px; width: 100px;" class="toggle toggle-success"></div>
                    </div>
                </div>

                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="name" class="control-label col-sm-2">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" placeholder="" @readOnly>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="phone" class="control-label col-sm-2">Telefono</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="phone" placeholder="">
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="email" class="control-label col-sm-2">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="email" placeholder="">

                    </div>
                </div>
                <!-- Fuel UX Radios Inline http://getfuelux.com/javascript.html#radio-examples-inline -->
                <div class="form-group">
                    <label for="genre" class="control-label col-sm-2">Genero</label>
                    <div class="radio col-sm-10">
                        <div class="col-md-6">
                            <div class="rdio rdio-primary">
                                <input type="radio" name="genre" value="male" id="male">
                                <label for="male">Masculino</label>
                            </div>

                            <div class="rdio rdio-primary">
                                <input type="radio" name="genre" value="female" id="female">
                                <label for="female">Femenino</label>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Fuel UX Radios http://getfuelux.com/javascript.html#radio -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Estado civil</label>
                    <div class="radio col-sm-10">
                        <div class="col-md-6">
                            <div class="rdio rdio-primary">
                                <input type="radio" name="civilStatus" value="single" id="single">
                                <label for="single">Soltero</label>
                            </div>

                            <div class="rdio rdio-primary">
                                <input type="radio" name="civilStatus" value="married" id="married">
                                <label for="married">Casado</label>
                            </div>

                            <div class="rdio rdio-primary">
                                <input type="radio" name="civilStatus" value="divorced" id="divorced">
                                <label for="divorced">Divorciado</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Edad</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="age" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Fecha de nacimiento</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="birth" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Calle y numero</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="streetAndNumber" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Colonia</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="colony" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Ciudad</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="city" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Estado</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="state" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">CP</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="cp" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">NSE</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nse" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Puesto</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="position" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Empresa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="company" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Tipo de empresa</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="companyType" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Sector / Industria</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="industrySector" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">No. Empleados</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="employees" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Intereses</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="interests" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Preferencias</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="preferences" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Actividades</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="activities" placeholder="">

                    </div>
                </div>
                <!-- Fuel UX Radios Inline http://getfuelux.com/javascript.html#radio-examples-inline -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Practica deporte</label>
                    <div class="radio col-sm-10">
                        <div class="col-md-6">
                            <div class="rdio rdio-primary">
                                <input type="radio" name="practiceSports" value="yes" id="yes">
                                <label for="yes">Si</label>
                            </div>

                            <div class="rdio rdio-primary">
                                <input type="radio" name="practiceSports" value="no" id="no">
                                <label for="no">No</label>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Habitos y actitudes</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="habits" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Valores</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="values" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Creencias</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="believes" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Emociones</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="emotions" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Tags (comportamiento)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="behaviorTags" placeholder="">
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Tiempo para compra (Autoridad)</label>
                    <div class="col-sm-10">
                        <select id="buyingTime" class="form-control mb15">
                            <option value="1">Nivel 1</option>
                            <option value="2">Nivel 2</option>
                            <option value="3">Nivel 3</option>
                            <option value="4">Nivel 4</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Toma de decicion de compra (Autoridad)</label>
                    <div class="col-sm-10">
                        <select id="buyingDecision" class="form-control mb15">
                            <option value="1">Nivel 1</option>
                            <option value="2">Nivel 2</option>
                            <option value="3">Nivel 3</option>
                            <option value="4">Nivel 4</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Grado de necesidad (Autoridad)</label>
                    <div class="col-sm-10">
                        <select id="needDegree" class="form-control mb15">
                            <option value="1">Nivel 1</option>
                            <option value="2">Nivel 2</option>
                            <option value="3">Nivel 3</option>
                            <option value="4">Nivel 4</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Comparando vs (Autoridad)</label>
                    <div class="col-sm-10">
                        <select id="comparingAgainst" class="form-control mb15">
                            <option value="1">Nivel 1</option>
                            <option value="2">Nivel 2</option>
                            <option value="3">Nivel 3</option>
                            <option value="4">Nivel 4</option>
                        </select>
                    </div>
                </div>
                <!-- Bootstrap Select http://getbootstrap.com/css/#selects -->
                <div class="form-group">
                    <label class="control-label col-sm-2" for="">Tags (autoridad)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="authorityTags" placeholder="">
                    </div>
                </div>

                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Fecha lead</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="leadDate" placeholder="" disabled>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Hora lead</label>
                    <div class="col-sm-10">
                        <input type="time" class="form-control" id="leadHour" placeholder="" disabled>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Interesado en</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="interestedIn" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Mensaje enviado</label>
                    <div class="col-sm-10">
                        <textarea id="messageSent" class="form-control" rows="5" style="height: 90px;" disabled></textarea>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Valor oportunidad</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="opportunityValue" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Fuente del prospecto</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="prospectSource" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Empresa generadora del prospecto</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="prosepectGeneratorCompany" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Campaña</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="campaignName" placeholder="" readonly="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Comentarios</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="comments" placeholder="">

                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Tags (intereses)</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="interestTags" placeholder="">

                    </div>
                </div>

                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Generales (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="generals" class="form-control mb15">
                            <option value="25">25%</option>
                            <option value="50">50%</option>
                            <option value="75">75%</option>
                            <option value="100">100%</option>
                        </select>
                    </div>
                </div>

                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Budget (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="budget" class="form-control mb15">
                            <option value="25">Sin presupuesto</option>
                            <option value="50">Tendria que hacer un esfuerzo</option>
                            <option value="75">Necesita Ajustes en presupuesto</option>
                            <option value="100">Presupuesto OK</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Job (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="job" class="form-control mb15">
                            <option value="25">Secretaria</option>
                            <option value="50"></option>
                            <option value="75"></option>
                            <option value="100">C-level - dueño</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Authority (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="authority" class="form-control mb15">
                            <option value="25">No tiene influencia sobre tomador de decisión</option>
                            <option value="50">Juntando información para el tomador de decisión</option>
                            <option value="75">Influenciador en tomador de desición</option>
                            <option value="100">Tomador de desición</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Need (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="need" class="form-control mb15">
                            <option value="25">No tienen urgencia por comprar</option>
                            <option value="50">Urgencia identificada nivel bajo</option>
                            <option value="75">Urgencia identificada nivel medio</option>
                            <option value="100">Urgencia identificada nivel alto</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Time frame (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="timeFrame" class="form-control mb15">
                            <option value="25">no se tiene un tiempo definido de compra</option>
                            <option value="50">6-12 meses</option>
                            <option value="75">3-6 meses</option>
                            <option value="100">1-3 meses</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Type (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="type" class="form-control mb15">
                            <option value="25">Empresa de recien apertura</option>
                            <option value="50">Empresa Chica bien establecida</option>
                            <option value="75">Empresa mediana bien establecida</option>
                            <option value="100">Empresa grande bien establecida</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Industry (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="industry" class="form-control mb15">
                            <option value="25">Giro sin presupuesto</option>
                            <option value="50">Giro con poco presupuesto</option>
                            <option value="75">Giro con presupuesto</option>
                            <option value="100">Giro con mucho presupuesto</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Status (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="statusEval" class="form-control mb15">
                            <option value=25>Recabando propuestas</option>
                            <option value=50>Comparando propuestas</option>
                            <option value=75>En evaluación final de propuestas</option>
                            <option value=100>Listo para comprar</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Contact (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="contact" class="form-control mb15">
                            <option value="25">No se pudo contactar</option>
                            <option value="50">Se pudo contactar y pidió reagendar llamada</option>
                            <option value="75">Se pudo contactar y dio información</option>
                            <option value="100">Se pudo contactar mostrando interés</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Quality score (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="qualityScore" class="form-control mb15">
                            <option value="25">Calidad de Datos Baja</option>
                            <option value="50">Calidad de Datos Media</option>
                            <option value="75">Calidad de Datos Alta</option>
                            <option value="100">Calidad de Datos Excelente</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Aging (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="aging" class="form-control mb15">
                            <option value="25">Más de 6 meses</option>
                            <option value="50">Más de 3 meses</option>
                            <option value="75">Más de 1 mes</option>
                            <option value="100">Dentro del primer mes</option>
                        </select>
                    </div>
                </div>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Engagemenet (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="engagement" class="form-control mb15">
                            <option value="25">No mostró interés</option>
                            <option value="50">Mostro muy poco interés</option>
                            <option value="75">Mostro interés</option>
                            <option value="100">Mostró mucho interés</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Upsell potential (Evaluacion)</label>
                    <div class="col-sm-10">
                        <select id="upsellPotential" class="form-control mb15">
                            <option value="25">Nivel 1</option>
                            <option value="50">Nivel 2</option>
                            <option value="75">Nivel 3</option>
                            <option value="100">Nivel 4</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Se concreto la venta</label>
                    <div class="radio col-sm-10">
                        <div class="radio col-sm-10">
                            <div class="col-md-6">
                                <div class="rdio rdio-primary">
                                    <input type="radio" name="sell" value="closed" id="closedSell">
                                    <label for="closedSell">Si</label>
                                </div>
                                <div class="rdio rdio-primary">
                                    <input type="radio" name="sell" value="open" id="openSell">
                                    <label for="openSell">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="" class="control-label col-sm-2">Monto aprox de venta</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="sellApproxAmount" placeholder="">

                    </div>
                </div>

            </fieldset>
        </form>
    </div><!-- panel-body -->

    <div class="panel-footer">
        <button id="submit-btn" class="btn btn-success">Submit</button>
    </div><!-- panel-footer -->

</div>
