﻿@model LeadsMVC.Models.Lead

@{
    ViewBag.Title = "Capturer";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
}

<div class="panel-body panel-body-nopadding">
    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
    {

        @Html.DisplayNameFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name)

        @Html.DisplayNameFor(model => model.Phone)
        @Html.TextBoxFor(model => model.Phone)

        @Html.DisplayNameFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email)

        @Html.DisplayNameFor(model => model.Notes)
        @Html.TextBoxFor(model => model.Notes)

        @Html.DisplayNameFor(model => model.Genre)
        @Html.TextBoxFor(model => model.Genre)

        @Html.DisplayNameFor(model => model.CivilStatus)
        @Html.TextBoxFor(model => model.CivilStatus)

        @Html.DisplayNameFor(model => model.Age)
        @Html.TextBoxFor(model => model.Age)

        @Html.DisplayNameFor(model => model.Birthday)
        @Html.TextBoxFor(model => model.Birthday)

        @Html.DisplayNameFor(model => model.StreetAndNumber)
        @Html.TextBoxFor(model => model.StreetAndNumber)

        @Html.DisplayNameFor(model => model.Colony)
        @Html.TextBoxFor(model => model.Colony)

        @Html.DisplayNameFor(model => model.City)
        @Html.TextBoxFor(model => model.City)

        @Html.DisplayNameFor(model => model.State)
        @Html.TextBoxFor(model => model.State)

        @Html.DisplayNameFor(model => model.CP)
        @Html.TextBoxFor(model => model.CP)

        @Html.DisplayNameFor(model => model.NSE)
        @Html.TextBoxFor(model => model.NSE)

        @Html.DisplayNameFor(model => model.Position)
        @Html.TextBoxFor(model => model.Position)

        @Html.DisplayNameFor(model => model.Company)
        @Html.TextBoxFor(model => model.Company)

        @Html.DisplayNameFor(model => model.CompanyType)
        @Html.TextBoxFor(model => model.CompanyType)

        @Html.DisplayNameFor(model => model.IndistrySector)
        @Html.TextBoxFor(model => model.IndistrySector)

        @Html.DisplayNameFor(model => model.Employees)
        @Html.TextBoxFor(model => model.Employees)

        @Html.DisplayNameFor(model => model.Interests)
        @Html.TextBoxFor(model => model.Interests)

        @Html.DisplayNameFor(model => model.Preferences)
        @Html.TextBoxFor(model => model.Preferences)

        @Html.DisplayNameFor(model => model.Activities)
        @Html.TextBoxFor(model => model.Activities)

        @Html.DisplayNameFor(model => model.PracticeSports)
        @Html.TextBoxFor(model => model.PracticeSports)

        @Html.DisplayNameFor(model => model.Habits)
        @Html.TextBoxFor(model => model.Habits)

        @Html.DisplayNameFor(model => model.Values)
        @Html.TextBoxFor(model => model.Values)

        @Html.DisplayNameFor(model => model.Believes)
        @Html.TextBoxFor(model => model.Believes)

        @Html.DisplayNameFor(model => model.Emotions)
        @Html.TextBoxFor(model => model.Emotions)

        @Html.DisplayNameFor(model => model.BehaviorTags)
        @Html.TextBoxFor(model => model.BehaviorTags)

        @Html.DisplayNameFor(model => model.BuyingTime)
        @Html.TextBoxFor(model => model.BuyingTime)

        @Html.DisplayNameFor(model => model.BuyingDecision)
        @Html.TextBoxFor(model => model.BuyingDecision)

        @Html.DisplayNameFor(model => model.NeedDegree)
        @Html.TextBoxFor(model => model.NeedDegree)

        @Html.DisplayNameFor(model => model.ComparingAgainst)
        @Html.TextBoxFor(model => model.ComparingAgainst)

        @Html.DisplayNameFor(model => model.AuthorityTags)
        @Html.TextBoxFor(model => model.AuthorityTags)

        @Html.DisplayNameFor(model => model.LeadDate)
        @Html.TextBoxFor(model => model.LeadDate)

        @Html.DisplayNameFor(model => model.InterestedIn)
        @Html.TextBoxFor(model => model.InterestedIn)

        @Html.DisplayNameFor(model => model.MessageSent)
        @Html.TextBoxFor(model => model.MessageSent)

        @Html.DisplayNameFor(model => model.OpportunityValue)
        @Html.TextBoxFor(model => model.OpportunityValue)

        @Html.DisplayNameFor(model => model.ProspectSource)
        @Html.TextBoxFor(model => model.ProspectSource)

        @Html.DisplayNameFor(model => model.ProsepectGeneratorCompany)
        @Html.TextBoxFor(model => model.ProsepectGeneratorCompany)

        @Html.DisplayNameFor(model => model.CampaignName)
        @Html.TextBoxFor(model => model.CampaignName)

        @Html.DisplayNameFor(model => model.Comments)
        @Html.TextBoxFor(model => model.Comments)

        @Html.DisplayNameFor(model => model.InterestTags)
        @Html.TextBoxFor(model => model.InterestTags)

        @Html.DisplayNameFor(model => model.Generals)
        @Html.TextBoxFor(model => model.Generals)

        @Html.DisplayNameFor(model => model.Budget)
        @Html.TextBoxFor(model => model.Budget)

        @Html.DisplayNameFor(model => model.Job)
        @Html.TextBoxFor(model => model.Job)

        @Html.DisplayNameFor(model => model.Authority)
        @Html.TextBoxFor(model => model.Authority)

        @Html.DisplayNameFor(model => model.Need)
        @Html.TextBoxFor(model => model.Need)

        @Html.DisplayNameFor(model => model.TimeFrame)
        @Html.TextBoxFor(model => model.TimeFrame)

        @Html.DisplayNameFor(model => model.Type)
        @Html.TextBoxFor(model => model.Type)

        @Html.DisplayNameFor(model => model.Industry)
        @Html.TextBoxFor(model => model.Industry)

        @Html.DisplayNameFor(model => model.Status)
        @Html.TextBoxFor(model => model.Status)

        @Html.DisplayNameFor(model => model.Contact)
        @Html.TextBoxFor(model => model.Contact)

        @Html.DisplayNameFor(model => model.QualityScore)
        @Html.TextBoxFor(model => model.QualityScore)

        @Html.DisplayNameFor(model => model.Aging)
        @Html.TextBoxFor(model => model.Aging)

        @Html.DisplayNameFor(model => model.Engagement)
        @Html.TextBoxFor(model => model.Engagement)

        @Html.DisplayNameFor(model => model.UpsellPotential)
        @Html.TextBoxFor(model => model.UpsellPotential)

        @Html.DisplayNameFor(model => model.LeadScore)
        @Html.TextBoxFor(model => model.LeadScore)

        @Html.DisplayNameFor(model => model.ClosedSell)
        @Html.TextBoxFor(model => model.ClosedSell)

        @Html.DisplayNameFor(model => model.SellApproxAmount)
        @Html.TextBoxFor(model => model.SellApproxAmount)

        @Html.DisplayNameFor(model => model.Called)
        @Html.TextBoxFor(model => model.Called)
    }

</div>