﻿@{
    ViewBag.Title = "Capturador";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.tagsinput.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    @Scripts.Render("/Assets/js/jquery.gritter.min.js")
    @Scripts.Render("/Assets/js/jquery-confirm.min.js")
    <script>

    </script>
}

@{
    string readOnly = "readonly";
    if (User.IsInRole("Admin"))
    {
        readOnly = "readonly";
    }
}

<div class="panel panel-success">
    <div class="panel-body panel-body-nopadding">
    </div><!-- panel-body -->

    <div class="panel-footer">
    </div><!-- panel-footer -->

</div>
