﻿@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/leads-admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/codemirror/codemirror.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/codemirror/theme/ambiance.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.datatables.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    @Scripts.Render("/Assets/js/codemirror/codemirror.js")
    @Scripts.Render("/Assets/js/codemirror/formatting.js")
    @Scripts.Render("/Assets/js/codemirror/mode/xml.js")
    @Scripts.Render("/Assets/js/codemirror/mode/javascript.js")
    @Scripts.Render("/Assets/js/mustache.min.js")
    @Scripts.Render("/Assets/js/jquery.datatables.min.js")
    @Scripts.Render("/Assets/js/jquery.gritter.min.js")
    @Scripts.Render("/Assets/js/jquery-confirm.min.js")

    <script type='text/javascript'>
        //var MAKE_URL = "@Url.Action("MakeLead", "Leads", routeValues: null, protocol: Request.Url.Scheme)";
        var MAKE_URL = "@Url.Action("leadsapi", "api", routeValues: null, protocol: Request.Url.Scheme)";
        var editor = CodeMirror.fromTextArea(document.getElementById("post-example"), {
            mode: { name: "javascript" },
            lineNumbers: true,
            readOnly: true,
            theme: 'ambiance'
        });

        // Main function
        $(function () {
            getUsers();
            getCampaigns();
        });

        function getUsers() {
            $.get("/api/users/", function (usersArray) {
                fillUsersWhereNeeded(usersArray);
            });
        }

        function getCampaigns() {
            $.get("/api/campaigns/", function (campaignsArray) {
                fillCampaignsWhereNeeded(campaignsArray);
            });
        }

        function fillUsersWhereNeeded(usersArray) {
            $('#new-campaign-user-select').empty();
            $.each(usersArray, function (i, item) {
                $('#new-campaign-user-select').append($('<option>', {
                    value: item.id,
                    text: item.userName + " - " + item.userFullName
                }));
            });
        }

        function fillCampaignsWhereNeeded(campaignsArray) {
            // Script generator
            fillScriptGenerator(campaignsArray);

            //table
            generateCampaignsTable(campaignsArray);
        }

        function generateCampaignsTable(campaignsArray) {
            var tempTable = $('#campaigns-admin-table').DataTable();
            var info = tempTable.page.info();

            // Erease table
            $("#table-wrapper").empty();

            // Open table
            var tableInit = '<table id="campaigns-admin-table" class="table mb30 admin-table">'
            var tableHead = '<thead><tr> <th>ID</th> <th>Name</th> <th>Descripcion</th> <th>Costo (servicio)</th> <th>Clicks</th> <th>Admin budget</th> <th>Engagement</th> <th>Community</th> <th>Usuario (Nombre)</th> <th></th> </tr></thead>';
            var tbodyInit = '<tbody>';
            var table = tableInit + tableHead + tbodyInit;

            $.each(campaignsArray, function (i, item) {
                var skeleton = "<tr> <td>{{id}}</td> <td><strong>{{name}}</strong></td> <td>{{description}}</td> <td><strong>${{serviceCost}} MXN</strong></td> <td>{{clicks}}</td> <td>{{adminBudget}}</td> <td>{{engagement}}</td> <td>{{community}}</td> <td>{{userName}}</td> <td class='table-action'> <a href='#'><i class='fa fa-pencil edit-campaign'></i></a> <a href='#' class='delete-campaign'><i class='fa fa-trash-o'></i></a> </td> </tr>"
                var html = Mustache.render(skeleton, item);
                table = table + html;
            });

            // Close table
            table = table + '</tbody>';
            table = table + '</table>';

            // Append html
            $("#table-wrapper").append(table);

            // Set data objects to each tr
            $('#campaigns-admin-table > tbody  > tr').each(function (i, item) {
                $(this).data("campaign", campaignsArray[i]);
            });

            // Init datatable
            var datatable = $('#campaigns-admin-table').DataTable({
                'displayStart': info.start
            });

            datatable.columns().iterator('column', function (ctx, idx) {
                $(datatable.column(idx).header()).append('<span class="sort-icon"/>');
            });
        }

        function fillScriptGenerator(campaignsArray) {
            $('#campaign-select-script').empty();
            $.each(campaignsArray, function (i, item) {
                $('#campaign-select-script').append($('<option>', {
                    value: item.id,
                    text: item.name
                }));
            });
            changeCode($("#campaign-select-script").val());
        }

        // Campaigns table edit
        $(".edit-campaign").live('click', function (event) {
            event.preventDefault();
            editCampaign($(this).closest('tr').data("campaign"));
        });

        function editCampaign(campaignData) {
            var html = '<div id="new-campaign-group" class="form-group">' +
             '<label class="control-label">Name</label>' +
             '<input type="text" id="edit-campaign-name" class="form-control" placeholder="Nombre de la campaña..." value="' + $.trim(campaignData.name) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Descrition</label>' +
             '<input type="text" id="edit-campaign-description" class="form-control" placeholder="Descripcion de la campaña..." value="' + $.trim(campaignData.description) + '">' +
             '</div>' +

             // Advanced campaign stats
             '<div class="form-group">' +
             '<label class="control-label">Service cost</label>' +
             '<input type="number" id="edit-campaign-service-cost" class="form-control" placeholder="" value="' + campaignData.serviceCost + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Impressions</label>' +
             '<input type="number" id="edit-campaign-impressions" class="form-control" placeholder="Impressions..." value="' + campaignData.impressions + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Leads (cantidad)</label>' +
             '<input type="number" id="edit-campaign-leads" class="form-control" placeholder="Leads..." value="' + campaignData.leadsCount + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Clicks</label>' +
             '<input type="number" id="edit-campaign-clicks" class="form-control" placeholder="Descripcion de la campaña..." value="' + campaignData.clicks + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Engagement</label>' +
             '<input type="number" id="edit-campaign-engagement" class="form-control" placeholder="Descripcion de la campaña..." value="' + campaignData.engagement + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Community</label>' +
             '<input type="number" id="edit-campaign-community" class="form-control" placeholder="Descripcion de la campaña..." value="' + campaignData.community + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Admin budget</label>' +
             '<input type="number" id="edit-campaign-admin-budget" class="form-control" placeholder="Descripcion de la campaña..." value="' + campaignData.adminBudget + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Media budget</label>' +
             '<input type="number" id="edit-campaign-media-budget" class="form-control" placeholder="Descripcion de la campaña..." value="' + campaignData.mediaBudget + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Sales rep</label>' +
             '<input type="text" id="edit-campaign-sales-rep" class="form-control" placeholder="Sales rep..." value="' + $.trim(campaignData.salesRep) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Account Management</label>' +
             '<input type="text" id="edit-campaign-account-mgmt" class="form-control" placeholder="Account mgmt..." value="' + $.trim(campaignData.accountMgmt) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Contact link</label>' +
             '<input type="text" id="edit-campaign-contact-url" class="form-control" placeholder="Contact url" value="' + $.trim(campaignData.contractUrl) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Configuration link</label>' +
             '<input type="text" id="edit-campaign-configuration-url" class="form-control" placeholder="Configuration url" value="' + $.trim(campaignData.configurationUrl) + '">' +
             '</div>' +
             '<div class="form-group">' +
             '<label class="control-label">Statment link</label>' +
             '<input type="text" id="edit-campaign-statment-url" class="form-control" placeholder="Statment url" value="' + $.trim(campaignData.statmentUrl) + '">' +
             '</div>';

            $.confirm({
                title: 'Editar campaña',
                content: html,
                animation: 'scale',
                confirmButtonClass: 'btn-success',
                backgroundDismiss: true,
                confirmButton: 'Aplicar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    var campaign = {
                        id: campaignData.id,
                        name: $("#edit-campaign-name").val(),
                        description: $("#edit-campaign-description").val(),
                        serviceCost: $("#edit-campaign-service-cost").val(),
                        impressions: $("#edit-campaign-impressions").val(),
                        clicks: $("#edit-campaign-clicks").val(),
                        engagement: $("#edit-campaign-engagement").val(),
                        community: $("#edit-campaign-community").val(),
                        adminBudget: $("#edit-campaign-admin-budget").val(),
                        mediaBudget: $("#edit-campaign-media-budget").val(),
                        salesRep: $("#edit-campaign-sales-rep").val(),
                        accountMgmt: $("#edit-campaign-account-mgmt").val(),
                        contractUrl: $("#edit-campaign-contact-url").val(),
                        configurationUrl: $("#edit-campaign-configuration-url").val(),
                        statmentUrl: $("#edit-campaign-statment-url").val(),
                        leadsCount: $("#edit-campaign-leads").val()
                    };
                    var json = JSON.stringify(campaign);

                    $.ajax({
                        url: '/api/campaigns/' + campaignData.id,
                        contentType: "application/json; charset=utf-8",
                        type: 'PUT',
                        data: json,
                        success: function (data) {
                            gritterSuccess("Campaña editada!");
                            getCampaigns()
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                }
            });
        }

        // Campaigns table delete
        $(".delete-campaign").live('click', function (event) {
            event.preventDefault();
            deleteCampaign($(this).closest('tr').data('campaign'));
        });

        function deleteCampaign(campaignData) {
            $.confirm({
                title: 'Eliminar ' + campaignData.name,
                content: '¿Estas seguro de eliminar esta campaña?',
                confirmButtonClass: 'btn-danger',
                backgroundDismiss: true,
                confirmButton: 'Eliminar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    $.ajax({
                        url: '/api/campaigns/' + campaignData.id,
                        type: 'DELETE',
                        success: function (data) {
                            gritterSuccess("Campaña eliminada!", 'Nombre: ' + data.campaignName);
                            getCampaigns()
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                },
                cancel: function () {
                    //$.alert('Canceled!')
                }
            });
        }

        function gritterSuccess(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-success',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }

        function gritterError(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-danger',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }

        $(document).ready(function () {
            //$(".minimizable").click();
            //changeCode($("#campaign-select-script").val());
        });

        $("#campaign-select-script").live('change', function () {
            changeCode($(this).val());
        });

        $("#submit-new-campaign").click(function () {
            var valid = validateNewCampaignForm();
            if (valid) {
                $.post("/api/campaigns", {
                    name: $("#new-campaign-name").val(),
                    description: $("#new-campaign-description").val(),
                    userId: $("#new-campaign-user-select option:selected").val()
                }, function (data) {
                    // Clean
                    $('#new-campaign-name').val('');
                    $('#new-campaign-description').val('');
                    // Success gritter
                    gritterSuccess("Nueva campaña añadida!", 'Nombre: ' + data.campaignName);
                    getCampaigns();

                }).fail(function (request, status, error) {
                    gritterError("Error al intentar añadir nueva campaña!", error);
                });
            }
        });

        function validateNewCampaignForm() {
            var trimmedValue = $.trim($('#new-campaign-name').val());
            var userValue = $('#new-campaign-user-select').val();
            if (trimmedValue.length <= 0) {
                $("#new-campaign-group").addClass("has-error");
                return false;
            }

            // If it hits here then all valid
            $("#new-campaign-group").removeClass("has-error");
            return true;
        }

        function changeCode(campaign) {
            var request = '$.post("' + MAKE_URL + '", {\n    campaignId: ' + campaign + ', \n    name: "John Doe", \n    email: "john@doe.com", \n    messageSent: "Me gustaria saber mas de esto", \n    phone: "123123123" \n})\n.done(function (lead){\n    //Do something with lead.id\n});';
            $("#post-example").html(request);
            editor.getDoc().setValue(request);

            //$.post(MAKE_URL, {
            //    campaignId: campaign,
            //    name: "Jesus Marcelo",
            //    email: "jesus@doe.com",
            //    messageSent: "Me gustaria saber mas de esto",
            //    phone: "123123123"
            //});
        }

        // Tags Input
        //$('#tags').tagsInput({ width: 'auto', height: 'inherit', defaultText: '' });
    </script>
}

<div class="panel panel-success">
    <div class="panel-heading minimizable">
        <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Registro de campañas</h3>
        <p>Administracion de campañas</p>
    </div>
    <div class="panel-body" style="display: block;">
        <h5 class="subtitle mb5">Creacion de campañas</h5>
        <p class="m20">Administracion (altas).</p>

        <div id="new-campaign-group" class="form-group">
            <label class="control-label">Nombre</label>
            <input type="text" id="new-campaign-name" class="form-control" placeholder="Nombre de la campaña..." required="">
        </div>
        <div class="form-group">
            <label class="control-label">Descripcion</label>
            <input type="text" id="new-campaign-description" class="form-control" placeholder="Descripcion de la campaña..." required="">
        </div>
        <div class="form-group">
            <label class="control-label">Usuario al que se le asignara esta campaña</label>
            <select class="form-control" id="new-campaign-user-select">
            </select>
        </div>
        <div class="form-group">
            <button id="submit-new-campaign" class="pull-right btn btn-success">Submit</button>
        </div>

        <h5 class="subtitle mb5">Todas las campañas</h5>
        <p class="m20">Administracion (edicion).</p>
        <div id="table-wrapper" class="table-responsive">
            <table id="campaigns-admin-table" class="table mb30">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Descripcion</th>
                        <th>User</th>
                        <th>User Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-heading minimizable">
        <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Script para leads</h3>
        <p>Selecciona una campaña, copia y pega el codigo en el landing (Modificando las variables necesarias). Email y telefono se pueden omitir.</p>
    </div>
    <div class="panel-body" style="display: block;">
        <select class="form-control" id="campaign-select-script">
        </select>

        <textarea id="post-example" name="code">
            $.post( "", );
        </textarea>    
    </div>
</div>