﻿@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/leads-admin.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/codemirror/codemirror.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/codemirror/theme/ambiance.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.datatables.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/jquery-confirm.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/dropzone.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    @Scripts.Render("~/Assets/js/dropzone.min.js")
    @Scripts.Render("/Assets/js/mustache.min.js")
    @Scripts.Render("/Assets/js/jquery.datatables.min.js")
    @Scripts.Render("/Assets/js/jquery.gritter.min.js")
    @Scripts.Render("/Assets/js/jquery-confirm.min.js")

    <script type='text/javascript'>
        Dropzone.options.myDropzone = {
            init: function () {
                this.on("sending", function (file) {
                    disableSelectUser();
                }),
                this.on("complete", function (file) {
                    getReports();
                }),
                this.on("processing", function (file) {
                    this.options.url = "/Reports/UploadFiles?userId=" + $("#user-select").val();
                });
            }
        };

        $(document).ready(function () {
            $('#my-dropzone').attr("action", "/Reports/UploadFiles?userId=" + $("#user-select").val());
        });

        $("#user-select").change(function () {
            $('#my-dropzone').attr("action", "/Reports/UploadFiles?userId=" + $(this).val());
            Dropzone.forElement("#my-dropzone").removeAllFiles(true);
            disableSelectUser();
            getReports();
        });

        // Main function
        $(function () {
            getUsers();
        });

        function getReports() {
            $.get("/Reports/GetReports?userId=" + $("#user-select").val(), function (reportsArray) {
                fillReportsWhereNeeded(reportsArray);
            });
        }

        function getUsers() {
            $.get("/api/users/", function (usersArray) {
                fillUsersWhereNeeded(usersArray);
            });
        }

        function fillReportsWhereNeeded(reportsArray) {
            generateReportsTable(reportsArray);
        }

        function fillUsersWhereNeeded(usersArray) {
            fillUserSelect(usersArray);
        }

        function fillUserSelect(usersArray) {
            $('#user-select').empty();
            $.each(usersArray, function (i, item) {
                $('#user-select').append($('<option>', {
                    value: item.id,
                    text: item.userName + " -> " + item.userFullName
                }));
            });

            // Trigger change
            $("#user-select").trigger('change');
        }

        function generateReportsTable(reportsArray) {
            var tempTable = $('#reports-admin-table').DataTable();
            var info = tempTable.page.info();

            // Erease table
            $("#table-wrapper").empty();

            // Open table
            var tableInit = '<table id="reports-admin-table" class="table mb30 admin-table">'
            var tableHead = '<thead><tr> <th>ID</th> <th>File name</th> <th>Uploaded date</th> <th>Controls</th> </tr></thead>';
            var tbodyInit = '<tbody>';
            var table = tableInit + tableHead + tbodyInit;

            $.each(reportsArray, function (i, item) {
                var skeleton = "<tr> <td>{{id}}</td> <td><strong>{{fileName}}</strong></td> <td>{{uploadedDate}}</td> <td class='table-action'> <a href='/Reports/Download?reportId={{id}}' class='download-report'><i class='fa fa-cloud-download'></i></a> <a href='#'><i class='fa fa-pencil edit-report'></i></a> <a href='#' class='delete-report'><i class='fa fa-trash-o'></i></a> </td> </tr>"
                var html = Mustache.render(skeleton, item);
                table = table + html;
            });

            // Close table
            table = table + '</tbody>';
            table = table + '</table>';

            // Append html
            $("#table-wrapper").append(table);

            // Set data objects to each tr
            $('#reports-admin-table > tbody  > tr').each(function (i, item) {
                $(this).data("report", reportsArray[i]);
            });

            // Init datatable
            var datatable = $('#reports-admin-table').DataTable({
                'displayStart': info.start
            });

            datatable.columns().iterator('column', function (ctx, idx) {
                $(datatable.column(idx).header()).append('<span class="sort-icon"/>');
            });

            enableSelectUser();
        }

        // Campaigns table edit
        $(".edit-report").live('click', function (event) {
            event.preventDefault();
            editReport($(this).closest('tr').data("report"));
        });

        // Campaigns table edit
        $(".delete-report").live('click', function (event) {
            event.preventDefault();
            deleteReport($(this).closest('tr').data("report"));
        });

        function editReport(reportData) {
            var html = '<div id="new-campaign-group" class="form-group">' +
             '<label class="control-label">Name</label>' +
             '<input type="text" id="edit-report-file-name" class="form-control" placeholder="Nombre del reporte..." value="' + $.trim(reportData.fileName) + '">' +
             '</div>';

            $.confirm({
                title: 'Editar reporte',
                content: html,
                animation: 'scale',
                confirmButtonClass: 'btn-success',
                backgroundDismiss: true,
                confirmButton: 'Aplicar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    var report = {
                        id: reportData.id,
                        fileName: $("#edit-report-file-name").val(),
                    };
                    var json = JSON.stringify(report);

                    $.ajax({
                        url: '/Reports/EditReport/' + reportData.id,
                        contentType: "application/json; charset=utf-8",
                        type: 'PUT',
                        data: json,
                        success: function (data) {
                            gritterSuccess("Reporte editado!");
                            disableSelectUser();
                            getReports();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                }
            });
        }

        function deleteReport(reportData) {
            $.confirm({
                title: 'Eliminar ' + reportData.fileName,
                content: '¿Estas seguro de eliminar esta campaña?',
                confirmButtonClass: 'btn-danger',
                backgroundDismiss: true,
                confirmButton: 'Eliminar',
                cancelButton: 'Cancelar',
                confirm: function () {
                    $.ajax({
                        url: '/Reports/DeleteReport/' + reportData.id,
                        type: 'DELETE',
                        success: function (data) {
                            gritterSuccess("Reporte eliminado!");
                            disableSelectUser();
                            getReports();
                        },
                        error: function (request, status, error) {
                            gritterError("Ocurrió un error!", error);
                        }
                    });
                }
            });
        }

        function gritterSuccess(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-success',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }

        function gritterError(title, text) {
            if (typeof text === 'undefined') { text = ''; }
            jQuery.gritter.add({
                title: title,
                text: text,
                class_name: 'growl-danger',
                image: '/Assets/images/screen.png',
                sticky: false,
                time: ''
            });
        }

        function disableSelectUser() {
            $('#user-select').attr('disabled', 'disabled');
        }

        function enableSelectUser() {
            $('#user-select').removeAttr('disabled');
        }

    </script>
}

<div class="panel panel-success">
    <div class="panel-heading minimizable">
        <div class="panel-btns">
            <a href="" class="panel-close">×</a>
            <a href="" class="minimize">−</a>
        </div><!-- panel-btns -->
        <h3 class="panel-title">Reportes</h3>
        <p>Administracion de reportes (altas y bajas)</p>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="sel1">Selecciona usuario:</label>
            <select class="form-control" id="user-select"></select>
        </div>

        <h5 class="subtitle mb5">Todas las campañas</h5>
        <p class="m20">Administracion (edicion).</p>
        <div id="table-wrapper" class="table-responsive">
            <table id="reports-admin-table" class="table mb30">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Descripcion</th>
                        <th>User</th>
                        <th>User Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <form id="my-dropzone" action="" method="post" enctype="multipart/form-data" class="dropzone">
            <div class="fallback">
                <input name="file" type="file" multiple />
                <input type="submit" value="Upload" />
            </div>
        </form>
    </div>
</div>
