﻿@model IEnumerable<LeadsMVC.Models.Report>

@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@section CustomStyles
{
    <link href="@Url.Content("~/Assets/css/leads-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Assets/css/dropzone.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    @*@Scripts.Render("~/bundles/what-leads-needs")*@
}

@Html.Partial("_MainPanelsPartial")

<style>
    a {
        font-size: 14px;
        font-family: "LatoRegular";
        color: rgb(68, 68, 68);
        line-height: 1.2;
        margin-left:10px;
    }

    a:hover {
        font-size: 14px;
        color: rgb(81, 137, 250);
    }

    .upload-date {
        font-size: 14px;
        font-family: "LatoRegular";
        color: rgb(68, 68, 68);
        line-height: 1.2;
        margin-left:10px;
    }

</style>

<div class="table-responsive">
    <table class="table table-hover mb30">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha subido</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="clearfix content-heading">
                            <a href="/Reports/Download?reportId=@Html.DisplayFor(modelItem => item.Id)">
                                <img class="pull-left" src="~/Assets/images/pdf.png" />
                                @Html.DisplayFor(modelItem => item.FileName)
                            </a>
                        </div>
                    </td>
                    <td class="upload-date">
                        @Html.DisplayFor(modelItem => item.UploadedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>